.daoPage {
    display: flex;
    width: 100%;
    min-height: 100vh;
    background: #f7f7f7;
    padding-top: (144px);
    padding-bottom: (144px);
    @media (max-width: 850px) {
        padding-top: (104px);
    }
    justify-content: center;
}

.daoForm {
    //padding-left: 66px;
    @media (max-width: 850px) {
        padding: 0 15px;
    }
   
    .title {
        font-weight: 600;
        font-size: 28px;
        margin-bottom: 0;
    }
    .subtitle {
        font-weight: 400;
        font-size: 16px;
    }

    @media (max-width: 850px) {
        .title{
            font-size: 20px;
        }
        .subtitle {
            font-size: 12px;
        }
    }

    label {
        display: flex;
        flex-direction: column;
        margin-bottom: 32px;
        position: relative;
        p {
            font-weight: 400;
            font-size: 16px;
        }

        input,
        textarea {
            width: 772px;
            background: #ffffff;
            border: 1px solid #dddddd;
            border-radius: 16px;
            padding: 12px;
            font-weight: 400;
            font-size: 16px;

            &::placeholder {
                font-weight: 400;
                font-size: 16px;
                color: #b3b3b3;
                font-family: inherit;
                font-family: "Inter";
            }
        }
        input {
            height: 56px;
        }
        textarea {
            resize: vertical;
        }
    }

    @media (max-width: 850px) {
        label {
            input,
            textarea {
                width: 90%;
            }
        }
    }
    .customInputelm {
        &:active,
        &:focus,
        &:hover {
            .suggestionBox {
                display: flex;
            }
        }

        .suggestionBox {
            display: none;
            z-index: 100;
            top: 100%;
            position: absolute;
            animation: appear 0.35s ease-in-out forwards;
            flex-direction: column;
            width: 100%;
            max-height: 30vh;
            overflow-y: scroll;
            min-height: 100px;
            background-color: gainsboro;
            background: #ffffff;
            border-radius: 16px;
            box-shadow: 0 0 10px gainsboro;
            padding: 8px;
            outline: 1px solid rgb(207, 207, 207);
            .suggestion {
                display: flex;
                width: 100%;
                height: fit-content;
                padding: 5px 10px;
                border-radius: 8px;
                &:focus,
                &:hover {
                    background: #d5d6da;
                }
                cursor: pointer;
            }
        }
    }
}

.slectedTags {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: fit-content;
    width: 772px;
    column-gap: 10px;
    margin-bottom: 10px;
    .p {
        margin-right: 10px;
        color: #5a5a5a;
    }
    .tag {
        background: #d6e0fd;
        border-radius: 8px;
        display: flex;
        height: 34px;
        min-width: 50px;
        padding: 0 8px;
        width: max-content;
        justify-content: center;
        align-items: center;
        img {
            margin-left: 5px;
            height: 8px;
        }

        &:hover {
            background-color: #ff7575;
            cursor: pointer;
        }
    }

    @media (max-width: 850px) {
        width: 90%;
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.linkRow {
    display: flex;
    column-gap: 75px;
    width: 772px;
    label {
        width: 100%;
        input {
            width: 100%;
        }
    }
    @media (max-width: 850px) {
        flex-direction: column;
        width: 90%;
    }
}
