$secWidth: 467px;
$mobile: 650px;

.editProfile {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background: #f7f7f7;
    padding-top: 160px;
    @media (max-width: $mobile) {
        padding-top: 80px;
    }
}

.progressHeader {
    display: flex;
    margin: 0 auto;
    height: fit-content;
    position: relative;
    align-items: center;
    width: 1080px;
    margin-bottom: 12px;

    @media (max-width: 1140px) {
        width: 90%;
    }

    .titles {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 18px;
    }

    .title {
        margin: 0;
        font-weight: 500;
        font-size: 18px;
    }

    .xpCon {
        font-weight: 600;
        margin: 0;
        background: linear-gradient(90deg, #5e1ed1 0%, #3065f3 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        font-size: 18px;
    }

    @media (max-width: $mobile) {
        .title {
            font-size: 10px;
        }
        .xpCon {
            font-size: 10px;
        }
    }
}

.progressBar {
    display: flex;
    background: #ffffff;
    margin-top: auto;
    z-index: 100;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;

    .progressInner {
        display: flex;
        width: 0;
        height: 100%;
        background: linear-gradient(90deg, #5e1ed1 0%, #3065f3 100%);
        border-radius: 64px;
        transition: all 1s ease-in-out;
    }
}

.profile_form {
    display: flex;
    width: 100%;
    height: max-content;
    background-color: white;
    width: 1080px;
    min-height: 1192px;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 16px;
    margin-bottom: 32px;
    padding-bottom: 32px;

    @media (max-width: 1140px) {
        width: 90%;
    }

    @media (max-width: 880px) {
        flex-direction: column;
    }

    .leftSideNav {
        display: flex;
        flex-direction: column;
        height: 100%;
        border-right: 1.25px solid rgba(128, 128, 128, 0.171);
        min-width: 254px;
        padding-top: 32px;
        min-height: 1192px;

        @media (max-width: 880px) {
            display: none;
        }

        .option {
            display: flex;
            align-items: center;
            width: 100%;
            font-weight: 400;
            cursor: pointer;
            border-left: 3px solid rgba(0, 0, 255, 0);
            height: 38px;
            padding-left: 8px;
            font-size: 14px;
            &:hover {
                background: rgba(219, 227, 250, 0.158);
            }
        }
        .selected {
            border-left: 3px solid #3065f3;
            color: #3065f3;
            background: rgba(214, 224, 253, 0.3);
        }
    }

    .mobileNav {
        display: flex;
        justify-content: space-between;
        padding: 15px 25px;
        padding-top: 25px;
        border-bottom: 5px solid #f7f7f7;
        display: none;
        @media (max-width: 880px) {
            display: flex;
        }
        .option {
            font-weight: 500;
            font-size: 18px;
            line-height: 17px;
            cursor: pointer;
        }

        .selected {
            color: #3065f3;
            font-weight: 600;
        }

        @media (max-width: $mobile) {
            .option {
                font-weight: 400;
                font-size: 12px;
            }
        }
    }
}

.formContent {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 32px;

    .saveBtn {
        width: 166px;
        height: 41px;
        background: linear-gradient(90deg, #5e1ed1 0%, #3065f3 100%);

        color: white;
        border: none;

        &:hover {
            background: linear-gradient(90deg, #4910ae 0%, #1248d9 100%);
            color: white;
        }
    }
    .nextBtn {
        margin-left: 15px;
        border: 1.5px solid rgba(123, 97, 255, 1);
        color: rgb(83, 55, 226);
        border-radius: 16px;
        width: 166px;
        background-color: transparent;
        &:hover {
            background: linear-gradient(90deg, #4910ae 0%, #1248d9 100%);
            color: white;
        }
    }

    .bottomNav {
        display: flex;
        width: 485px;
        margin-top: 50px;
        .saveBtn {
            margin-left: auto;
        }

        @media (max-width: $mobile) {
            width: 100%;
            .saveBtn {
                width: 100%;
            }
        }
    }

    h1 {
        margin: 0;
    }
    p {
        width: 495px;
        font-weight: 400;
        font-size: 12px;
        line-height: 160%;
        margin: 0;
        margin-top: 6px;
    }

    .mainTitle {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid #eeeff2;
        padding-bottom: 8px;
        @media (max-width: $mobile) {
            h1 {
                font-weight: 500;
                font-size: 14px;
                line-height: 160%;
            }
            p {
                font-size: 10px;
                font-weight: 400;
                font-size: 10px;
                width: 100%;
            }
        }
    }

    .secTitle {
        display: flex;
        justify-content: space-between;
        width: $secWidth;
        margin-bottom: 0px;
        align-items: center;
        p {
            margin: 0;
            margin-left: 10px;
            font-size: 12px;
        }
        h2 {
            font-weight: 500;
            font-size: 14px;
        }
        .xp {
            display: flex;
            align-items: center;

            img {
                object-fit: contain;
                width: 16px;
                height: 16px;
            }
            p {
                font-size: 14px;
                line-height: 160%;
                color: #3065f3;
                margin: 0;
                margin-left: 3px;
                width: min-content;
            }
        }
        @media (max-width: $mobile) {
            width: 100%;
            h2 {
                font-weight: 500;
                font-size: 14px;
                line-height: 160%;
            }
        }
    }

    .section {
        display: flex;
        flex-direction: column;
        margin-top: 32px;

        .usernameValidation {
            margin-left: 5px;
            font-weight: 500;
            width: fit-content;
            animation: appear 0.25s ease-in-out forwards;
        }

        .profile {
            width: 105px;
            height: 105px;
            position: relative;
            position: relative;
            .profileImg {
                width: 100%;
                height: 100%;
                margin-top: 8px;
                border-radius: 100px;
                outline: 5px solid rgba(220, 220, 220, 0.192);
            }
            .addIcon {
                width: 20px;
                height: 20px;
                position: absolute;
                right: 0;
                bottom: 4px;
                z-index: 100;
                border: 1px solid blue;
                border-radius: 100%;
            }
        }

        .input {
            width: 460px;
            min-height: 40px;
            background: #ffffff;
            border: 1px solid #cacdd5;
            border-radius: 6px;
            padding: 10px;
            font-family: inherit;
            &::placeholder {
                font-weight: 400;
                font-size: 14px;
                line-height: 160%;
                font-family: "Inter";
                font-style: normal;
                color: #cacdd5;
            }

            @media (max-width: $mobile) {
                width: 100%;
            }
        }

        .subText {
            margin-top: -5px;
            font-weight: 400;
            font-size: 12px;
            @media (max-width: $mobile) {
                width: 100%;
            }
        }

        .tagSelector {
            display: flex;
            flex-wrap: wrap;
            width: 500px;
            padding: 16px 0;
            gap: 8px;
            @media (max-width: $mobile) {
                width: 100%;
            }
            .tag {
                font-weight: 400;
                font-size: 12px;
                padding: 7.5px 25.6px;
                background: #ffffff;
                border: 0.5px solid #747c90;
                border-radius: 16px;
                cursor: pointer;
            }
            .selected {
                background: rgba(214, 224, 253, 0.3);
                border: 0.5px solid #3065f3;
                border-radius: 16px;
                color: #3065f3;
                cursor: pointer;
            }
            @media (max-width: $mobile) {
                .tag {
                    font-size: 10px;
                    padding: 5px 10px;
                }
            }
        }
    }

    .displayEmail {
        font-size: 16px;
        font-weight: 500;
        color: gray;
        width: 100%;

        @media (max-width: $mobile) {
            font-size: 12px;
        }
    }
}

.walletSection {
    display: flex;
    flex-direction: column;
    width: $secWidth;

    .saveBtn {
        margin-left: auto;
        margin-top: 50px;
    }
    @media (max-width: $mobile) {
        width: 100%;
        .saveBtn {
            width: 100%;
        }
    }
}

.wTitle {
    display: flex;
    align-items: center;
    margin-top: 32px;
    width: $secWidth;
    justify-content: space-between;
    border-bottom: 1px solid #eeeff2;
    padding-bottom: 10px;
    margin-bottom: 17px;
    @media (max-width: $mobile) {
        width: 100%;
    }
    h1,
    h2 {
        margin: 0;
        padding: 0;
    }
    h1 {
        font-weight: 500;
        font-size: 14px;
    }
    h2 {
        color: #3065f3;
        font-weight: 500;
        font-size: 12px;
    }
}

.wallet {
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 19px;
    p {
        font-weight: 600;
        font-size: 14px;
        margin: 0;
    }
    .profileName {
        width: 20px;
        height: 20px;
        margin-right: 8px;
    }
    .option {
        width: 22px;
        height: 22px;
    }
}

.saveBtn {
    width: 166px;
    height: 41px;
    background: linear-gradient(90deg, #5e1ed1 0%, #3065f3 100%);
    border-radius: 16px;
    color: white;
    border: none;
}

.socialSection {
    .secTitle {
        margin-top: 32px;
    }
}

.connectDiscord {
    display: flex;
    width: 100%;
    border-top: 1px solid #eeeff2;
    width: $secWidth;

    @media (max-width: $mobile) {
        width: 100%;
    }

    button {
        width: 172px;
        height: 40px;
        border: none;
        background: #5865f2;
        border-radius: 16px;
        color: white;
        font-weight: 500;
        font-size: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 12px;

        img {
            margin-right: 9.5px;
            width: 18px;
        }
    }
}

.twitterBtn {
    @extend .connectDiscord;
    button {
        background: rgba(29, 155, 240, 1);
        color: white;
        font-weight: 500;

        img {
            filter: brightness(0) invert(1);
        }

        &:hover {
            transition: all 0.3s ease-in;
            background: rgba(29, 155, 240, 0.2);
            border: 1px solid #1d9bf0;
            color: #1d9bf0;
            img {
                transition: all 0.3s ease-in;
                filter: brightness(1);
            }
        }
    }
}

.profileLoginPage {
    display: flex;
    width: 100%;
    min-height: 100vh;
    background-color: black;
    z-index: 200;
    position: absolute;
    left: 0;
    top: 0;
}

.profileUpload {
    position: absolute;
    height: 0;
    width: 0;
}

.exitbtn {
    border: none;
    background-color: rgb(255, 50, 50);
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
    width: 80px;
    font-weight: 600;
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
