.spinnerPage {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.421);
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 1000;
}

.spinIcon {
    position: fixed;
    width: 75px;
    height: 75px;
    right: 18px;
    bottom: 90px;
    cursor: pointer;
    z-index: 1000;
    @media (max-width: 500px) {
        width: 65px;
        height: 65px;
        right: 10px;
        bottom: 80px;
    }
}

.back {
    position: absolute;
    top: 25px;
    left: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    z-index: 100;
    &:hover {
        opacity: 0.5;
    }
    p {
        margin: 0;
        font-size: 14px;
        font-weight: 600;
    }
    img {
        width: 24px;
        object-fit: contain;
        margin-right: 10px;
    }
}

.title {
    display: flex;
    margin-right: auto;
    margin-top: 70px;
    margin-bottom: 24px;
    .logo {
        width: 55px;
        height: 55px;
        display: flex;
        overflow: hidden;
        margin-right: 10px;
        img {
            padding: 10px;
            background: rgb(255, 255, 255);
        }

        background: rgb(255, 255, 255);
        border-radius: 20px;
        box-shadow: 0 0 15px rgba(128, 128, 128, 0.291);
    }

    h1 {
        margin: 0;
        font-size: 16px;
        font-weight: 600;
        margin: 0;
    }
    p {
        //width: 80%;
        font-size: 12px;
        margin: 0;
        white-space: pre-line;
        margin-top: 4px;
    }
}

.successtitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40%;
    .logo {
        width: 70px;
        height: 70px;
        display: flex;
        overflow: hidden;
        img {
            padding: 10px;
            background: rgb(255, 255, 255);
        }
        border-radius: 24px;
        background: rgb(255, 255, 255);
        border-radius: 24px;
        box-shadow: 0 0 15px rgba(128, 128, 128, 0.291);
    }

    h1 {
        margin: 0;
        font-size: 18px;
        font-weight: 600;
        margin-top: 24px;
    }
    p {
        text-align: center;
        //width: 80%;
        margin-bottom: 20px;
        white-space: pre-line;
    }
}

.spinner {
    display: flex;
    width: 100%;
    height: 100vh;
    // justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    flex-direction: column;
    height: 650px;
    width: 398px;
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    padding: 0 24px;
    &::before {
        content: "";
        display: flex;
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: #a9a9de;
        opacity: 0.1;
        background-image: linear-gradient(
                30deg,
                #6a6a8c 12%,
                transparent 12.5%,
                transparent 87%,
                #6a6a8c 87.5%,
                #6a6a8c
            ),
            linear-gradient(150deg, #6a6a8c 12%, transparent 12.5%, transparent 87%, #6a6a8c 87.5%, #6a6a8c),
            linear-gradient(30deg, #6a6a8c 12%, transparent 12.5%, transparent 87%, #6a6a8c 87.5%, #6a6a8c),
            linear-gradient(150deg, #6a6a8c 12%, transparent 12.5%, transparent 87%, #6a6a8c 87.5%, #6a6a8c),
            linear-gradient(60deg, #6a6a8c77 25%, transparent 25.5%, transparent 75%, #6a6a8c77 75%, #6a6a8c77),
            linear-gradient(60deg, #6a6a8c77 25%, transparent 25.5%, transparent 75%, #6a6a8c77 75%, #6a6a8c77);
        background-size: 52px 91px;
        background-position:
            0 0,
            0 0,
            26px 46px,
            26px 46px,
            0 0,
            26px 46px;
    }

    @media (max-width: 500px) {
        width: 100%;
        margin-top: auto;
    }
}

.bottomNav {
    display: flex;
    height: 60px;
}

.spinButton {
    border-radius: 16px;
    background: linear-gradient(90deg, #5e1ed1 0%, #3065f3 100%);
    color: white;
    border: none;
    width: 161px;
    min-height: 41px;
    height: 41px;
    font-size: 16px;
    margin-top: 40px;
    z-index: 100;

    &:disabled {
        opacity: 0.2;
        filter: grayscale(1);
    }
}

.timer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    p {
        margin: 5px;
        font-size: 16px;
        color: #a9a9de;
    }
}

.wheel {
    display: flex;
    border-radius: 50%;
    position: relative;
}

.inner {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.flower {
    width: 100%;
    height: 100%;

    // We need a relative position
    // so that children can have  "position:abolute"
    position: relative;

    transform: rotate(22deg);
    overflow: hidden;

    .petal {
        .icon {
            width: 100%;
            text-align: center;
            transform-origin: center center;
            transform: rotate(90deg) translateX(140%) scale(-1, -1);
            font-weight: 600;
            font-size: 12px;
            white-space: nowrap;
        }

        // Position them all in one point
        position: absolute;
        top: 0;
        left: 45%;
        display: inline-block;
        width: 30px;
        height: 100%;
    }

    .dot {
        @extend .petal;
        .icon {
            transform: rotate(90deg) translateX(15%);
            display: flex;
            width: 15px;
            height: 15px;
            border-radius: 100%;

            background: linear-gradient(90deg, #5e1ed1 0%, #3065f3 100%);
        }
    }
}

.pointer {
    display: flex;
    position: absolute;
    width: 70px;
    height: 70px;
    background-color: #d6e0fd;
    z-index: 300;
    border-radius: 100%;
    align-items: center;
    justify-content: center;

    img {
        width: 75%;
        height: 75%;
        border-radius: 100%;
        padding: 5px;
        background-color: white;
        border: 2px solid red;
        z-index: 100;
    }
    .arrow {
        display: flex;
        width: 40px;
        height: 30px;
        clip-path: polygon(0 0%, 100% 50%, 0 100%, 0 49%);
        background-color: #ff0000;
        position: absolute;
        transform: translateX(70%);
    }
}

// success page

.reward {
    display: flex;
    align-items: center;
    margin-top: 20px;
    h1 {
        margin: 0;
        color: #3065f3;
        font-size: 17.951px;
    }
    img {
        width: 28.049px;
        height: 28.051px;
        margin-right: 4px;
        object-fit: contain;
    }
}

.streakReward {
    @extend .reward;
    h1 {
        font-size: 16px;
        font-weight: 500;
        color: rgb(0, 0, 0);
    }
}

.confetti {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
}

.streak {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 25px;

    p {
        font-size: 12px;
        margin-bottom: 8px;
        .grad {
            color: #3065f3;
            margin-left: 5px;
        }
    }
}

.progressBar {
    display: flex;
    width: 100%;
    border-radius: 12.588px;
    height: 18px;
    border: 0.968px solid #5e1ed1;
    overflow: hidden;
}

.progressInner {
    display: flex;
    width: 0%;
    // background: linear-gradient(90deg, #ffa348 0%, #ff6546 50.89%, #f80000 100%);
    background: linear-gradient(90deg, #5e1ed1 0%, #3065f3 100%);
}

.progressText {
    display: flex;
    width: 100%;
    align-items: center;
    position: relative;

    .infoPane {
        margin-left: auto;
    }

    .infoImage {
        width: 14px;
        height: 14px;
        margin-left: auto;
        color: white;
        filter: grayscale(100%) opacity(0.2);
        z-index: 100;
        margin-top: 5px;
        cursor: pointer;
        &:hover {
            filter: grayscale(100%) opacity(1);
        }
    }

    .infoText {
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 200px;
        background: white;
        padding: 10px;
        border-radius: 10px;
        top: 80%;
        right: 0;
        z-index: 500;
        border: 1px solid blue;
        animation: appear 0.25s ease-in-out;

        h1 {
            font-size: 12px;
            margin-bottom: 0;
        }
        h2 {
            font-size: 8px;
            font-weight: 400;
        }
        p {
            font-size: 10px;
            margin-bottom: 0;
            margin-top: 5px;
            background: linear-gradient(90deg, #5e1ed1 0%, #3065f3 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        //display: none;
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}
