.missions {
    display: flex;
    padding-top: 164px;
    padding-bottom: 100px;
}

.sideNav {
    display: flex;
    flex-direction: column;
    width: 298px;
    margin-right: 35px;
    margin-left: 40px;
    height: max-content;

    .title {
        font-weight: 700;
        font-size: 42px;
    }

    @media (max-width: "700px") {
        width: 100%;
        margin: 0;
        padding: 0 20px;
        position: fixed;
        z-index: 1000;
        background: white;
        height: max-content;
        bottom: 0;
        left: 0;
        right: 0;
        padding-bottom: 60px;
        border-radius: 25px 25px 0 0;
        border-top: 3px solid rgb(24, 79, 230);
        .title {
            display: none;
        }
    }
}

.filterBtn {
    display: flex;
    position: fixed;
    bottom: 0;
    z-index: 2000;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-bottom: 10px;
    width: max-content;
    width: 142px;
    height: 36px;
    color: white;
    background: #121212;
    border-radius: 16px;
    border: none;
    justify-content: center;
    align-items: center;
    display: none;
    @media (max-width: 700px) {
        display: flex;
    }
}

.option {
    display: flex;
    width: 100%;
    justify-content: space-between;
    cursor: pointer;

    .reset {
        color: rgba(78, 78, 78, 0.252);
        font-weight: 400;
    }

    p {
        font-size: 18px;
        font-weight: 500;
    }
    img {
        width: 15px;
        object-fit: contain;
    }
}

.divider {
    display: flex;
    width: 100%;
    min-height: 1px;
    background-color: rgba(202, 205, 213, 1);
}

.typesOption {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px 0;
    p {
        font-weight: 400;
        font-size: 16px;
        margin: 0;
    }
    img {
        height: 15px;
        width: 15px;
        filter: invert(10%);
    }
    input {
        width: 15px;
        margin: 0;
        accent-color: rgb(30, 48, 209);
        cursor: pointer;
    }
}

.sortComp {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-right: 10px;
    .option {
        margin-bottom: -10px;
    }
    .divider {
        margin-top: 10px;
    }
}

.mainContent {
    width: 100%;
    margin-top: 30px;
    gap: 16px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(313px, max-content));
    grid-template-rows: repeat(auto-fill, minmax(274px, max-content));
    justify-content: center;
}

.titleMain {
    @extend .title;
    margin: 0 auto;
    display: none;
}

.mobileNav {
    display: none;
}

@media (max-width: "700px") {
    .missions {
        flex-direction: column;
        padding-top: 25%;
    }
    .titleMain {
        display: flex;
    }

    .desktopNav {
        display: none !important;
    }

    .mobileNav {
        display: flex;
    }
}
