$DESKTOP: 1440px;
$LAPTOP: 1024px;
$TABLET: 768px;
$PHONE: 425px;

$DESKTOP_N: 1440;
$LAPTOP_N: 1024;
$TABLET_N: 768;
$PHONE_N: 425;

//FLUID FUNCTIONS
@function desktop_to_laptop_fluid($units) {
    @return #{calc(($units / $DESKTOP_N) * 100)}vw;
}
@function laptop_to_tablet_fluid($units) {
    @return #{calc(($units / $LAPTOP_N) * 100)}vw;
}
@function tablet_to_phone_fluid($units) {
    @return #{calc(($units / $TABLET_N) * 100)}vw;
}

.walletConnectPopUp {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.63);
    z-index: 10000;
    justify-content: center;
    align-items: center;
}

.close_icon {
    height: 16px;
    width: 16px;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    &:hover {
        transition: all 0.15s ease-in-out;
        opacity: 0.5;
    }
    @media (max-width: 467px) {
       width: 12px;
       height: 12px;
       right: 10px;
       top: 10px;
    }
}

.menu_con {
    display: flex;
    flex-direction: column;
    width: 467px;
    min-height: max-content;
    background-color: white;
    border-radius: 16px;
    padding: 0 25px;
    position: relative;
    animation: appear 0.5s ease-in-out forwards;
    @media (max-width: 467px) {
        width: 90%;
        margin: 0 25px;
    }
}

.chainBar {
    display: flex;
    width: 100%;
    width: fit-content;
    justify-content: center;
    align-items: center;
    height: 43px;
    background: #eeeff2;
    border-radius: 12px;
    margin: 23.5px auto 0 auto;
    padding: 4px;
    cursor: pointer;
}

.chainBtn {
    display: flex;
    width: 107px;
    height: 35px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    img {
        height: 16px;
        margin-right: 7.5px;
        object-fit: contain;
    }
}

.selectedBtn {
    background-color: white;
}

.list {
    margin-top: 23.5px;
    border-top: 1px solid rgba(128, 128, 128, 0.253);

    .elm {
        display: flex;
        align-items: center;
        padding: 20.5px 0;
        border-bottom: 1px solid rgba(128, 128, 128, 0.253);
        cursor: pointer;
        position: relative;
        img {
            margin-right: 16px;
            height: 39px;
            object-fit: contain;
        }
        p {
            font-weight: 500;
            font-size: 16px;
            position: absolute;
            left: 60px;
        }
        &:hover {
            background-color: rgba(220, 220, 220, 0.342);
        }
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
