.discoverPage {
    display: flex;
    width: 100%;
    min-height: 100vh;
    background: #f7f7f7;
    padding: 0 10px;
    padding-top: 164px;
    flex-direction: column;
}

.mainCon {
    display: flex;
    margin-top: 32px;
}

.title {
    font-weight: 700;
    //font-size: 48px;
    margin: 0 auto;
    margin-bottom: 32px;
    text-align: center;
    display: none;

    @media (max-width: 700px) {
        display: block;
    }
}

.sideBarTitle {
    font-weight: 700;
    font-size: 42px;
}

.sideNav {
    display: flex;
    flex-direction: column;
    min-width: 298px;
    margin-right: 35px;
    margin-left: 40px;
    top: 90px;
    position: sticky;
    height: fit-content;

    .mobileFilterHeadder {
        display: flex;
        justify-content: center;
        width: 100%;
        height: max-content;
        position: sticky;
        top: 1px;
        background-color: white;
        display: none;
        p {
            font-style: normal;
            font-weight: 500;
        }
        img {
            height: 15px;
            width: 15px;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            margin-top: 20px;
        }
    }

    @media (max-width: 700px) {
        .mobileFilterHeadder {
            display: flex;
        }
        position: fixed;
        top: 20vh;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: white;
        margin: 0 auto;
        align-items: center;
        width: 100vw;
        height: 90vh;
        z-index: 200;
        overflow: scroll;
        padding: 0 6vw;
        padding-bottom: 100px;
        border-radius: 25px 25px 0 0;
        box-shadow: 0 0 15px 10px rgba(128, 128, 128, 0.281);
    }
}

.mobileFilterNav {
    display: flex;
    position: sticky;
    bottom: 30px;
    left: 0;
    right: 0;
    width: 100%;
    justify-content: center;
    column-gap: 32px;
    button {
        width: 142px;
        height: 36px;
        color: white;
        background: #121212;
        border-radius: 16px;
        border: none;
    }

    @media (min-width: 700px) {
        display: none;
    }
}

.option {
    display: flex;
    width: 100%;
    justify-content: space-between;
    cursor: pointer;
    padding-right: 10px;
    p {
        font-size: 18px;
        font-weight: 500;
    }
    img {
        width: 15px;
        object-fit: contain;
    }
}

.divider {
    display: flex;
    width: 100%;
    min-height: 1px;
    background-color: rgba(202, 205, 213, 1);
}

.loading {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    width: 100%;
    img {
        width: 8vw;
        height: 8vw;
    }
}

.gallery {
    display: flex;
    width: max-content;
    flex-direction: column;
    align-items: center;
    .daoList {
        justify-content: center;

        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        margin-bottom: 30px;
        // animation: appear 0.35s ease-in-out forwards;
    }
    padding-bottom: 15px;
}

.sortComp {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-right: 10px;
    .option {
        margin-bottom: -10px;
    }
    .divider {
        margin-top: 10px;
    }
}

.typesOfCommunities {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: max-content;
    max-height: 50vh;
    overflow-y: auto;
    margin-bottom: 12px;
    padding-right: 10px;

    @media (max-width: 425px) {
        max-height: max-content;
        overflow-y: initial;
    }

    .reset {
        width: 100%;
        text-align: right;
        color: #d84f57;
        margin-top: 10px;
        cursor: pointer;
    }

    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #ffffff;
    }

    &::-webkit-scrollbar {
        width: 6px;
        background-color: #ffffff;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #b1b1b1;
    }
}

.typesOption {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px 0;
    p {
        font-weight: 400;
        font-size: 16px;
        margin: 0;
    }
    img {
        height: 15px;
        width: 15px;
        filter: invert(10%);
    }
    input {
        width: 15px;
        margin: 0;
        accent-color: rgb(30, 48, 209);
        cursor: pointer;
    }
}

.sliderComp {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    padding-bottom: 20px;
    .values {
        display: flex;
        width: 100%;
        justify-content: space-between;
        position: relative;
        margin-top: -8px;
        p {
            margin: 0;
            font-weight: 400;
            font-size: 16px;
            color: rgb(146, 146, 146);
        }
        h1 {
            position: absolute;
            margin: 0 auto;
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
            text-align: center;
            font-size: 16px;
            font-weight: 600;
            color: rgba(94, 30, 209, 1);
        }
    }
}

.sliderBar {
    color: rgba(94, 30, 209, 1);
}

.ratingComp {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: max-content;
    padding-right: 10px;
    .starComp {
        display: flex;
        column-gap: 17.5px;
        margin-bottom: 19px;
        img {
            width: 13.33px;
            height: 13.33px;
        }
        input {
            margin-left: auto;
            width: 15px;
            height: 15px;
            accent-color: rgb(30, 48, 209);
            cursor: pointer;
        }
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
