.mission {
    display: flex;
    flex-direction: column;
    width: 313px;
    height: 274px;
    background-color: white;
    border: 0.753935px solid #f2eeee;
    border-radius: 16px;
    position: relative;

    @media (max-width: 430px) {
        width: 90%;
        margin: 0 auto;
    }

    &:hover {
        transition: all 0.3s ease-in-out;
        border: 1px solid #3065f3;
        /* Shadow 4 */

        box-shadow: 0px 8px 11px -3px rgba(0, 0, 0, 0.08);
        border-radius: 16px;
    }

    .topCon {
        display: flex;
        flex-direction: column;
        padding: 16px;
        padding-bottom: 0;
        cursor: pointer;
    }

    h2,
    h1,
    p {
        margin: 0;
    }
    h2 {
        font-weight: 600;
        font-size: 12px;
        margin: 8px 0;
        color: #7d7d7d;
    }
    h1 {
        font-weight: 600;
        font-size: 18px;
    }
    p {
        font-weight: 400;
        font-size: 14px;
        margin: 8px 0;
        line-height: 17px;
        color: #8c93a3;
    }
    .tags {
        display: flex;
        column-gap: 8px;
        margin-top: 10px;
        .tag {
            display: flex;
            align-items: center;
            border-radius: 20px;
            padding: 0 10px;
            outline: 1px solid black;
            img {
                width: 10px;
                height: 10px;
                margin-right: 4px;
            }
            p {
                font-weight: 400;
                font-size: 10px;
                margin: 2px 0;
            }
        }
    }
    .xpCon {
        display: flex;
        width: 100%;
        align-items: center;
        border-top: 1.5px solid #eeeff2;
        margin-top: auto;
        justify-content: center;
        padding: 8px 16px;
        img {
            width: 18px;
            height: 18px;
            object-fit: contain;
            margin-right: 6px;
        }
        p {
            margin-right: auto;
        }
    }
    .missionCompleted {
        p {
            font-size: 16px;
            color: rgba(68, 172, 33, 1);
        }
    }
}

.blur {
    position: relative;
    &::after {
        position: absolute;
        content: "";
        left: 0;
        right: 0;
        display: flex;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.479);
    }
}

.missionMin {
    width: 258px;
    @media (max-width: 430px) {
        width: 90%;
        margin: 0 auto;
    }
}

.profileImg {
    display: flex;
    width: 59px;
    height: 59px;
    border-radius: 100%;
}

.timeChip {
    background-color: red;
    border-radius: 15px;
    padding: 4px 15px;
    display: flex;
    position: absolute;
    right: 10px;
    top: -5%;
    p {
        color: white;
        font-weight: 400;
        font-size: 12px;
        margin: 0;
        margin-left: 3px;
    }
}

.customToolTip {
    display: flex;
    position: relative;
    cursor: pointer;
    .content {
        display: none;
        opacity: 0;
        position: absolute;
        width: max-content;
        height: fit-content;
        padding: 5px 10px;
        bottom: 120%;
        right: 0;
        left: 0;
        margin: 0 auto;
        background: #eeeff2;
        border-radius: 10px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.137);
        font-size: 12px;
        font-weight: 500;
        transition: all 0.25s ease-in-out;
    }

    &:hover {
        .content {
            display: flex;
            opacity: 1;
        }
    }
}

.profilesCompleted {
    display: flex;
    width: max-content;
    align-items: center;
    margin-left: 16px;
    position: absolute;
    right: 10px;
    top: 10px;
    img {
        width: 16px;
        height: 16px;
        border-radius: 100%;
        position: relative;
    }
    p {
        margin: 0;
        padding: 0;
        font-weight: 400;
        font-size: 13.75px;
        margin-left: -13px !important;
    }
}
