$DESKTOP: 1440px;
$LAPTOP: 1090px;
$TABLET: 768px;
$PHONE: 426px;

$DESKTOP_N: 1440;
$LAPTOP_N: 1090;
$TABLET_N: 768;
$PHONE_N: 426;

.profilePage {
    display: flex;
    width: 100%;
    min-height: 100vh;
    background: #f7f7f7;
    flex-direction: column;
    align-items: center;

    @media (max-width: $PHONE) {
        padding-top: 80px;
    }
}

.profileHeader {
    display: flex;
    flex-direction: column;
    width: 1080px;
    height: 311px;
    background: white;
    border-radius: 16px;
    margin: 0 auto;
    margin-top: 144px;
    justify-content: center;
    position: relative;

    @media (max-width: $PHONE) {
        width: 95%;
        height: fit-content;
        margin: 0 16px;
        padding: 0 16px;
        padding-top: 16px;
    }

    .profileImg {
        width: 200px;
        height: 200px;
        border-radius: 100%;
        border: 10px solid rgba(246, 246, 246, 1);
        position: absolute;
        margin-left: 40px;
        @media (max-width: $PHONE) {
            width: 100%;
            height: 380px;
            object-fit: cover;
            margin: 0 auto;
            border-radius: 15px;
            border: none;
            position: relative;
            margin-bottom: 25px;
        }
    }

    .data {
        margin-left: 276px;

        @media (max-width: $PHONE) {
            margin-left: 0;
        }
    }
    .name {
        font-weight: 600;
        font-size: 32px;
        margin: 0;
    }
    .bio {
        font-weight: 400;
        font-size: 16px;
        margin: 0;
        width: 505px;
        margin: 16px 0;
        @media (max-width: $PHONE) {
            width: 100%;
        }
    }

    .tabs {
        display: flex;
        column-gap: 16px;
        overflow-x: auto;
        padding-bottom: 10px;
        padding-left: 5px;
        .tab {
            display: flex;
            font-weight: 400;
            min-width: max-content;
            font-size: 12px;
            background: #ffffff;
            border: 0.5px solid #747c90;
            border-radius: 8px;
            padding: 7.5px;
        }
    }

    .walletTabs {
        @extend .tabs;
        margin-top: 6px;
        flex-wrap: wrap;
        row-gap: 8px;
        .tab {
            background: #eaefff;
            border: 1px solid #cdd9ff;
            border-radius: 8px;
            font-weight: 400;
            font-size: 14px;
            cursor: pointer;
            img {
                height: 18px;
                border-radius: 100%;
                margin-right: 5px;
            }
        }
    }
}

.xpLevel {
    display: flex;
    flex-direction: column;
    width: 353px;
    margin-bottom: 12px;
    .levelCount {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: fit-content;
        h3 {
            font-weight: 600;
            font-size: 18px;
            margin: 0;
            color: rgba(48, 101, 243, 1);
        }
        p {
            font-weight: 400;
            font-size: 12px;
            margin: 0;
            color: #8c93a3;
        }
    }
    .progressBard {
        display: flex;
        width: 100%;
        height: 2px;
        background: #eeeff2;
        border-radius: 92.8323px;
        margin-top: 4px;
        span {
            display: flex;
            height: 100%;
            width: 50%;
            background: linear-gradient(90deg, #5e1ed1 0%, #3065f3 100%);
            border-radius: 32px;
        }
    }
    @media (max-width: $PHONE) {
        width: 100%;
    }
}

.socialIcon {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    position: absolute;
    right: 0;
    top: 47.2px;
    right: 45.83px;
    img {
        width: 14.57px;
    }
    filter: invert(100%);
    @media (max-width: $PHONE) {
        display: none;
    }
}

.navSec {
    display: flex;
    flex-wrap: wrap;
    //justify-content: center;
    row-gap: 10px;
    list-style: none;
    font-weight: 400;
    font-size: 20px;
    margin: 0;
    padding: 0;
    column-gap: 40px;
    width: 1080px;
    padding: 0 1vw;
    margin-top: 24px;
    li {
        border-bottom: 2px solid rgba(0, 0, 255, 0);
        cursor: pointer;
        padding-bottom: 8px;
        border-bottom: 2px solid rgba(0, 0, 255, 0);
    }
    .selected {
        padding-bottom: 8px;
        border-bottom: 2px solid blue;
        font-weight: 500;
    }

    @media (max-width: $LAPTOP) {
        width: 972px;
        justify-content: center;
    }
    @media (max-width: $LAPTOP) and (min-width: $TABLET) {
        width: laptop_to_tablet_fluid(972);
    }
    @media (max-width: $LAPTOP) {
        width: 704px;
    }
    @media (max-width: $LAPTOP) and (min-width: $PHONE) {
        width: tablet_to_phone_fluid(675);
    }
    @media (max-width: $PHONE) {
        font-size: phone_fluid(16);
        column-gap: phone_fluid(40);
        width: 100%;
        justify-content: center;
        li {
            margin: 0;
            p {
                margin: 0;
            }
        }
    }
}

.statCards {
    display: flex;
    width: 1080px;
    margin-top: 24px;
    justify-content: space-between;
    .stat {
        display: flex;
        flex-direction: column;
        padding: 16px;
        width: 252px;
        height: 130px;
        background-color: white;
        border-radius: 8px;
        h3 {
            font-weight: 500;
            font-size: 16px;
            margin: 0;
            margin-bottom: 5px;
        }
        p {
            font-weight: 400;
            font-size: 10px;
            margin: 0;
            color: #8c93a3;
        }
        h1 {
            font-weight: 500;
            font-size: 32px;
            margin: 0;
            margin-top: auto;
            color: #3065f3;
        }
    }

    @media (max-width: $PHONE) {
        justify-content: unset;
        width: 343px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 1fr 1fr;
        justify-items: center;
        gap: 24px;
        margin: 20px auto;
        .stat {
            width: 163px !important ;
            height: 130px;
            h3 {
                font-weight: 500;
                font-size: 14px;
            }
            p {
                font-weight: 400;
                font-size: 10px;
            }
            h1 {
                font-weight: 500;
                font-size: 28px;
            }
        }
    }
}

.list_communities {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    width: 1080px;
    height: 835px;
    background: #ffffff;
    border-radius: 16px;
    padding: 24px;
    margin-bottom: 100px;

    .title {
        font-weight: 500;
        font-size: 16px;
    }
}

.tableHead {
    display: flex;
    width: 100%;
    color: #8c93a3;
    padding: 0 16px;
    .name {
        width: 30%;
    }
    .joined {
        width: 20%;
    }
    .score {
        width: 20%;
    }
    .friends {
        width: 30%;
    }
}

.table {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.entry {
    display: flex;
    background: #f7f7f7;
    border-radius: 8px;
    width: 1032px;
    height: 64px;
    padding: 0 16px;
    align-items: center;
    p {
        display: flex;
        align-items: center;
    }
    .name {
        width: 30%;
        display: flex;
        align-items: center;
        img {
            width: 24px;
            height: 24px;
            border-radius: 15px;
            margin-right: 10px;
        }
    }
    .joined {
        width: 20%;
    }
    .score {
        width: 20%;
    }
    .friends {
        width: 30%;
        display: flex;
        align-items: center;
        .friendImg {
            width: 24px;
            height: 24px;
            border-radius: 15px;
        }
        .arrow {
            margin-left: auto;
            width: 20px;
        }
    }
}

.reviewCon {
    display: flex;
    flex-direction: column;
    width: 1080px;
    row-gap: 16px;
    margin-top: 16px;
    margin-bottom: 150px;

    @media (max-width: $PHONE) {
        width: 100%;
        align-items: center;
    }
}

.reviewComp {
    display: flex;
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 24px;
    padding-bottom: 8px;
    border-radius: 16px;
    flex-direction: column;
    height: auto;

    .profilePic {
        display: flex;
        border-radius: 100%;
        width: 40px;
        height: 40px;
        margin-right: 12px;
        background-size: contain;
    }

    .userInfo {
        display: flex;
        align-items: center;
        p {
            margin: 0;
        }

        .address {
            font-weight: 500;
            margin-bottom: 8px;
            color: black;
            font-size: 18px;
        }
    }

    .review_desc {
        margin-top: 16.5px;
        //margin-bottom: 10px;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        white-space: pre-wrap;
    }

    .bottom_nav {
        display: flex;
        span {
            cursor: pointer;
        }
        .iconText {
            display: flex;
            margin-right: 25px;
            align-items: center;
            img {
                margin-right: 4.5px;
                height: 16.46px;
            }
        }
    }

    @media (max-width: $PHONE) {
        width: 90%;
    }
}

.starComp {
    display: flex;
    column-gap: 10px;
    img {
        width: 20px;
        height: 20px;
        padding: 0;
    }
}

.starComp_small {
    display: flex;
    column-gap: 8px;
    img {
        width: 16px;
        height: 16px;
        padding: 0;
    }
}

.tokenNftSec {
    display: flex;
    flex-direction: column;
    width: 1080px;
    margin-bottom: 150px;
    @media (max-width: $PHONE) {
        width: 90%;
        height: max-content;
    }

    .tokenSwitch {
        display: flex;
        width: 1080px;
        height: 50px;
        background: #eeeff2;
        border-radius: 12px;
        margin-top: 28px;
        padding: 4px;
        @media (max-width: $PHONE) {
            width: 100%;
            min-height: 46px;
            height: max-content;
            border-radius: 8px;
        }

        .btnSwitchSelected {
            display: flex;
            width: 50%;
            height: 100%;
            background-color: white;
            border: none;
            box-shadow: 0px 4px 5px -1px rgba(0, 0, 0, 0.08);
            border-radius: 8px;
            justify-content: center;
            align-items: center;
            font-size: 15px;
            @media (max-width: $PHONE) {
                border-radius: 8px;
                font-size: 14px;
                min-height: 46px;
            }
        }
        .btnSwitch {
            display: flex;
            width: 50%;
            height: 100%;
            background-color: transparent;
            border: none;
            border-radius: 8px;
            justify-content: center;
            align-items: center;
            font-size: 15px;
            @media (max-width: $PHONE) {
                border-radius: 8px;
                font-size: 14px;
                min-height: 46px;
            }
            &:hover {
                color: blue;
            }
        }
    }
}

.nfts {
    margin-top: 16px;
    display: flex;
    width: 1080px;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 16px;
    @media (max-width: $PHONE) {
        width: 100%;
        height: max-content;
        justify-content: center;
    }
}

.nftCon {
    display: flex;
    width: 258px;
    height: 364px;
    background: #ffffff;
    border-radius: 8px;
    overflow: hidden;
    flex-direction: column;

    @media (max-width: $PHONE) {
        width: 163.5px;
        height: 236px;
    }

    .cover {
        display: flex;
        width: 100%;
        height: 258px;
        background-color: #3065f3;
        background-position: center;
        background-size: cover;
        @media (max-width: $PHONE) {
            height: 163px;
        }
    }
    .info {
        padding: 12px;
        h3 {
            font-weight: 600;
            font-size: 16px;
            margin: 0;
            margin-bottom: 20px;
        }
        p {
            margin: 0;
            margin-bottom: 5px;
            font-size: 10px;
            color: #5c657d;
        }
        .price {
            display: flex;
            align-items: center;
            img {
                width: 10px;
                margin-right: 4px;
            }
            h4 {
                font-weight: 600;
                font-size: 16px;
                margin: 0;
            }
        }
        @media (max-width: $PHONE) {
            h3 {
                font-size: 12px;
            }
            p {
                font-size: 8px;
            }
            .price {
                h4 {
                    font-weight: 600;
                    font-size: 10px;
                }
            }
        }
    }
}

.tokens {
    display: flex;
    flex-wrap: wrap;
    width: 1080px;
    margin-top: 16px;
    gap: 16px;
    @media (max-width: $PHONE) {
        width: 100%;
    }
}

.token {
    display: grid;
    flex-direction: column;
    width: 532px;
    height: 102px;

    grid-template-columns: 1.4fr 10fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "a b"
        "a d";
    //height: 102px;
    background: #ffffff;
    border-radius: 8px;
    padding: 25px 24px;
    align-items: center;
    .tokenLogo {
        height: 44px;
        width: 44px;
        grid-area: a;
        // margin-top: 5px;
    }

    @media (max-width: $PHONE) {
        width: 100%;
        grid-template-columns: 2fr 10fr;
        padding: 18px 16px;
    }
}

.topLine {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    margin-bottom: 5px;
    grid-area: b;
    .tokenName {
        display: flex;
        font-weight: 600;
        font-size: 20px;
        align-items: center;
        p {
            font-weight: 400;
            font-size: 16px;
            margin: 0;
            opacity: 0.5;
            margin-left: 2.5px;
        }
    }

    h3 {
        margin: 0;
    }
}
.bottomLine {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    grid-area: d;
    p {
        margin: 0;
        color: #5c657d;
    }
}

.xp {
    display: flex;
    width: 972px;
    flex-direction: column;
}

.XpSec {
    @extend .tokenNftSec;
}

.xpChipCon {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 16px;
    margin-top: 40px;
}

.xpChipWrapper {
    background: #ffffff;
    box-shadow: 0px 2.41684px 3.62525px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    width: 522px;
    padding: 22px 15.6px;
    // padding-bottom: 0;
    height: fit-content;

    .status {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 15px;
        .progress {
            display: flex;
            width: 389px;
            height: 2px;
            background: #eeeff2;

            .progressInner {
                height: 100%;
                width: 60%;
                background: linear-gradient(90deg, #5e1ed1 0%, #3065f3 100%);
                border-radius: 32px;
            }
        }

        p {
            font-weight: 400;
            font-size: 12px;
            margin: 0;
        }
    }
    @media (max-width: $PHONE) {
        .status {
            .progress {
                width: 100%;
            }
            p {
                font-size: 7px;
            }
        }
    }
}

.xpChip {
    display: flex;
    width: 100%;
    //  height: 85px;
    align-items: center;

    img {
        width: 45.81px;
        height: 45.81px;
    }
    span {
        margin-left: 18.5px;
        h1,
        p {
            margin: 0;
        }
        h1 {
            font-weight: 600;
            font-size: 14px;
            margin-bottom: 6.7px;
            display: flex;
            align-items: center;
            span {
                font-weight: 500;
                font-size: 8px;
                outline: 1px solid gray;
                padding: 4px 14.5px;
                border-radius: 15px;
            }
        }
        p {
            font-weight: 400;
            font-size: 10px;
        }
    }
    button {
        background: linear-gradient(90deg, #5e1ed1 0%, #3065f3 100%);
        box-shadow: 0px 5.09688px 6.3711px -1.27422px rgba(0, 0, 0, 0.08);
        border-radius: 10.1938px;
        border: none;
        color: white;
        padding: 8px 20.15px;
        margin-left: auto;
        width: fit-content;
    }
    @media (max-width: $PHONE) {
        span {
            h1 {
                font-size: 10px;
                span {
                    font-size: 7px;
                    padding: 2px 4px;
                }
            }
            p {
                font-size: 8px;
            }
        }
        button {
            width: max-content;
            height: 21.03px;
            font-weight: 600;
            font-size: 8px;
            border-radius: 7.45779px;
            padding: 0 10px;
        }
    }
}
