$DESKTOP: 1440px;
$LAPTOP: 1080px;
$TABLET: 768px;
$PHONE: 450px;

$DESKTOP_N: 1440;
$LAPTOP_N: 1080;
$TABLET_N: 768;
$PHONE_N: 450;

//FLUID FUNCTIONS

@function desktop_to_laptop_fluid($units) {
    @return #{calc(($units / $DESKTOP_N) * 100)}vw;
}
@function laptop_to_tablet_fluid($units) {
    @return #{calc(($units / $LAPTOP_N) * 100)}vw;
}
@function tablet_to_phone_fluid($units) {
    @return #{calc(($units / $TABLET_N) * 100)}vw;
}
@function phone_fluid($units) {
    @return #{calc(($units / $PHONE_N) * 100)}vw;
}

.profilePage {
    display: flex;
    width: 100%;
    min-height: 100vh;
    background: #f7f7f7;
    flex-direction: column;
    align-items: center;

    @media (max-width: $PHONE) {
        padding-top: 80px;
    }
}

.profileHeader {
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 16px;
    margin: 0 auto;
    justify-content: center;
    position: relative;
    width: 1080px;
    height: 311px;
    margin-top: 144px;

    @media (max-width: $LAPTOP) and (min-width: $PHONE) {
        width: laptop_to_tablet_fluid(1030);
        height: laptop_to_tablet_fluid(311);
        margin-top: laptop_to_tablet_fluid(144);
    }

    @media (max-width: $PHONE) {
        width: 95%;
        height: fit-content;
        margin: 0 16px;
        padding: 0 16px;
        padding-top: 16px;
    }

    .profileImg {
        border-radius: 100%;
        border: 10px solid rgba(246, 246, 246, 1);
        position: absolute;
        width: 200px;
        height: 200px;
        margin-left: 40px;
        @media (max-width: $LAPTOP) and (min-width: $PHONE) {
            width: laptop_to_tablet_fluid(200);
            height: laptop_to_tablet_fluid(200);
            margin-left: laptop_to_tablet_fluid(40);
        }
        @media (max-width: $PHONE) {
            width: 100%;
            height: 380px;
            object-fit: cover;
            margin: 0 auto;
            border-radius: phone_fluid(15);
            border: none;
            position: relative;
            margin-bottom: phone_fluid(25);
        }
    }

    .data {
        margin-left: 276px;
        @media (max-width: $LAPTOP) and (min-width: $PHONE) {
            margin-left: laptop_to_tablet_fluid(276);
        }
        @media (max-width: $PHONE) {
            margin-left: 0;
        }
    }
    .name {
        font-weight: 600;
        font-size: 32px;
        margin: 0;
        @media (max-width: $LAPTOP) and (min-width: $PHONE) {
            font-weight: laptop_to_tablet_fluid(600);
            font-size: laptop_to_tablet_fluid(32);
        }
    }
    .bio {
        font-weight: 400;
        font-size: 16px;
        margin: 0;
        width: 505px;
        margin: 16px 0;
        @media (max-width: $LAPTOP) and (min-width: $PHONE) {
            font-size: laptop_to_tablet_fluid(16);
            width: laptop_to_tablet_fluid(505);
            margin: laptop_to_tablet_fluid(16) 0;
        }
        @media (max-width: $PHONE) {
            width: 100%;
        }
    }

    .tabs {
        display: flex;
        overflow-x: auto;
        column-gap: 16px;
        padding-bottom: 10px;
        padding-left: 5px;
        .tab {
            display: flex;
            font-weight: 400;
            min-width: max-content;
            background: #ffffff;
            border: 0.5px solid #747c90;
            font-size: 12px;
            border-radius: 8px;
            padding: 7.5px;
        }
        @media (max-width: $LAPTOP) and (min-width: $PHONE) {
            column-gap: laptop_to_tablet_fluid(16);
            padding-bottom: laptop_to_tablet_fluid(10);
            padding-left: laptop_to_tablet_fluid(5);
            .tab {
                font-size: laptop_to_tablet_fluid(12);
                border-radius: laptop_to_tablet_fluid(8);
                padding: laptop_to_tablet_fluid(7.5);
            }
        }
    }

    .walletTabs {
        @extend .tabs;
        flex-wrap: wrap;
        margin-top: 6px;
        row-gap: 8px;
        .tab {
            background: #eaefff;
            border: 1px solid #cdd9ff;
            border-radius: 8px;
            font-weight: 400;
            font-size: 14px;
            cursor: pointer;
            img {
                height: 18px;
                border-radius: 100%;
                margin-right: 5px;
            }
        }
        @media (max-width: $LAPTOP) and (min-width: $PHONE) {
            margin-top: laptop_to_tablet_fluid(6);
            row-gap: laptop_to_tablet_fluid(8);
            .tab {
                border-radius: laptop_to_tablet_fluid(8);
                font-size: laptop_to_tablet_fluid(14);
                img {
                    height: laptop_to_tablet_fluid(18);
                    margin-right: laptop_to_tablet_fluid(5);
                }
            }
        }
    }
}

.loader {
    display: flex;
    max-width: 1080px;
    width: 90%;
    height: 300px;
    margin: 30px auto;
    justify-content: center;
    align-items: center;
    padding: 0 25%;
    background-color: white;
    border-radius: 15px;
    animation: appear 0.5s ease-in-out;
}

.mainContent {
    display: flex;
    min-height: 800px;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
}

.xpLevel {
    display: flex;
    flex-direction: column;
    width: 353px;
    margin-bottom: 12px;
    .levelCount {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: fit-content;
        h3 {
            font-weight: 600;
            margin: 0;
            color: rgba(48, 101, 243, 1);
            font-size: 18px;
        }
        p {
            font-weight: 400;
            margin: 0;
            color: #8c93a3;
            font-size: 12px;
        }
    }
    .progressBard {
        display: flex;
        width: 100%;
        background: #eeeff2;
        border-radius: 92.8323px;
        height: 2px;
        margin-top: 4px;
        span {
            display: flex;
            height: 100%;
            width: 50%;
            background: linear-gradient(90deg, #5e1ed1 0%, #3065f3 100%);
            border-radius: 32px;
        }
    }
    @media (max-width: $LAPTOP) and (min-width: $PHONE) {
        width: laptop_to_tablet_fluid(353);
        margin-bottom: laptop_to_tablet_fluid(12);
        .levelCount {
            h3 {
                font-size: laptop_to_tablet_fluid(18);
            }
            p {
                font-size: laptop_to_tablet_fluid(12);
            }
        }
        .progressBard {
            height: laptop_to_tablet_fluid(2);
            margin-top: laptop_to_tablet_fluid(4);
            span {
                border-radius: laptop_to_tablet_fluid(32);
            }
        }
    }
    @media (max-width: $PHONE) {
        width: 100%;
    }
}

.socialIcon {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    position: absolute;
    right: 0;
    bottom: 47.2px;
    right: 45.83px;
    img {
        width: 14.57px;
    }
    filter: invert(100%);
    @media (max-width: $PHONE) {
        display: none;
    }
}

.editProfile {
    width: 7%;
    object-fit: contain;
    position: absolute;
    right: 4%;
    top: 5%;
    cursor: pointer;

    @media (max-width: $PHONE) {
        width: 18%;
        right: 8%;
    }
}

////////////////////////////////////////////////////////////////

.navSec {
    display: inline-flex;
    row-gap: 10px;
    list-style: none;
    font-weight: 400;
    font-size: 20px;
    margin: 0;
    padding: 0;
    column-gap: 40px;
    width: 1080px;
    padding: 0 1vw;
    margin-top: 24px;

    //outline: 1px solid red;

    z-index: 150;
    li {
        display: flex;
        min-width: max-content;
        border-bottom: 2px solid rgba(0, 0, 255, 0);
        cursor: pointer;
        border-bottom: 2px solid rgba(0, 0, 255, 0);
        padding-bottom: 5px;
        p {
            padding: 0;
            margin: 0;
            margin-bottom: 10px;
        }
    }
    .selected {
        border-bottom: 2px solid blue;
        font-weight: 500;
        p {
            padding: 0;
            margin: 0;
        }
    }

    @media (max-width: $LAPTOP) {
        width: 90vw;
        text-align: center;

        font-size: laptop_to_tablet_fluid(26);
        li {
            margin: 0;
            p {
                margin: 0;
            }
        }
    }

    @media (max-width: $PHONE) {
        font-size: phone_fluid(24);
        column-gap: phone_fluid(40);
        width: 90vw;
        overflow-x: scroll;
        li {
            margin: 0;
            p {
                margin: 0;
            }
        }
    }
}

.statCards {
    display: flex;
    justify-content: space-between;
    width: 1080px;
    margin-top: 24px;
    .stat {
        display: flex;
        flex-direction: column;
        background-color: white;
        padding: 16px;
        width: 252px;
        height: 130px;
        border-radius: 8px;
        h3 {
            margin: 0;
            font-weight: 500;
            font-size: 16px;
            margin-bottom: 5px;
        }
        p {
            font-weight: 400;
            margin: 0;
            color: #8c93a3;
            font-size: 10px;
        }
        h1 {
            font-weight: 500;
            margin: 0;
            margin-top: auto;
            color: #3065f3;
            font-size: 32px;
        }
    }

    @media (max-width: $LAPTOP) and (min-width: $PHONE) {
        width: laptop_to_tablet_fluid(1030);
        margin-top: laptop_to_tablet_fluid(24);
        .stat {
            padding: laptop_to_tablet_fluid(16);
            width: laptop_to_tablet_fluid(252);
            height: laptop_to_tablet_fluid(130);
            border-radius: laptop_to_tablet_fluid(8);
            h3 {
                font-size: laptop_to_tablet_fluid(16);
                margin-bottom: laptop_to_tablet_fluid(5);
            }
            p {
                font-size: laptop_to_tablet_fluid(10);
            }
            h1 {
                font-size: laptop_to_tablet_fluid(32);
            }
        }
    }

    @media (max-width: $PHONE) {
        justify-content: unset;
        width: 90%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 1fr 1fr;
        justify-items: center;
        gap: phone_fluid(24);
        margin: phone_fluid(20) auto;
        .stat {
            width: 100% !important ;
            height: phone_fluid(130);
            h3 {
                font-weight: 500;
                font-size: phone_fluid(14);
            }
            p {
                font-weight: 400;
                font-size: phone_fluid(10);
            }
            h1 {
                font-weight: 500;
                font-size: phone_fluid(28);
            }
        }
    }
}

.list_communities_desktop {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    margin-top: 16px;
    width: 1080px;
    height: 835px;
    border-radius: 16px;
    padding: 24px;
    margin-bottom: 100px;

    .title {
        font-weight: 500;
        font-size: 16px;
    }

    @media (max-width: $PHONE) {
        display: none;
    }
    @media (max-width: $LAPTOP) and (min-width: $PHONE) {
        margin-top: laptop_to_tablet_fluid(16);
        width: laptop_to_tablet_fluid(1050);
        height: laptop_to_tablet_fluid(835);
        border-radius: laptop_to_tablet_fluid(16);
        padding: laptop_to_tablet_fluid(24);
        margin-bottom: laptop_to_tablet_fluid(100);
        .title {
            font-size: laptop_to_tablet_fluid(16);
        }
    }
}

// table comp
.tableHead {
    display: flex;
    width: 100%;
    color: #8c93a3;
    padding: 0 16px;
    p {
        font-size: 16px;
    }
    .name {
        width: 30%;
    }
    .joined {
        width: 20%;
    }
    .score {
        width: 20%;
    }
    .friends {
        width: 30%;
    }
}

.table {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.entry {
    display: flex;
    background: #f7f7f7;
    align-items: center;
    border-radius: 8px;
    width: 1032px;
    height: 64px;
    padding: 0 16px;
    p {
        display: flex;
        align-items: center;
        font-size: 16px;
    }
    .name {
        width: 30%;
        display: flex;
        align-items: center;
        img {
            width: 24px;
            height: 24px;
            border-radius: 15px;
            margin-right: 10px;
        }
    }
    .joined {
        width: 20%;
    }
    .score {
        width: 20%;
    }
    .friends {
        width: 30%;
        display: flex;
        align-items: center;
        .friendImg {
            width: 24px;
            height: 24px;
            border-radius: 15px;
        }
        .arrow {
            margin-left: auto;
            width: 20px;
        }
    }
}

@media (max-width: $LAPTOP) and (min-width: $PHONE) {
    .tableHead {
        padding: 0 laptop_to_tablet_fluid(16);
        font-size: laptop_to_tablet_fluid(16);
        p {
            font-size: laptop_to_tablet_fluid(16);
        }
    }
    .table {
        row-gap: laptop_to_tablet_fluid(16);
        font-size: laptop_to_tablet_fluid(16);
    }
    .entry {
        border-radius: laptop_to_tablet_fluid(8);
        width: laptop_to_tablet_fluid(1000);
        height: laptop_to_tablet_fluid(64);
        padding: 0 laptop_to_tablet_fluid(16);
        p {
            font-size: laptop_to_tablet_fluid(16);
        }
        .name {
            img {
                width: laptop_to_tablet_fluid(24);
                height: laptop_to_tablet_fluid(24);
                border-radius: laptop_to_tablet_fluid(15);
                margin-right: laptop_to_tablet_fluid(10);
            }
        }
        .friends {
            .friendImg {
                width: laptop_to_tablet_fluid(24);
                height: laptop_to_tablet_fluid(24);
                border-radius: laptop_to_tablet_fluid(15);
            }
            .arrow {
                margin-left: auto;
                width: laptop_to_tablet_fluid(20);
            }
        }
    }
}

///////////////////

.list_communities_mobile {
    display: none;
    width: 90%;
    height: 651px;
    background: #ffffff;
    border-radius: 16px;
    margin-bottom: 50px;
    padding: 16px;
    flex-direction: column;

    @media (max-width: $PHONE) {
        display: flex;
    }

    .title {
        font-weight: 500;
        font-size: 16px;
    }

    .daoEntry {
        display: flex;
        width: 100%;
        height: 108px;
        background: #f7f7f7;
        border-radius: 8px;
        padding: 12px;
        flex-direction: column;
        margin-bottom: 8px;
        h2 {
            font-weight: 500;
            font-size: 12px;
            margin-top: 0px;
            color: #8c93a3;
        }
        .daoName {
            display: flex;
            align-items: center;
            height: fit-content;
            h1 {
                font-weight: 500;
                font-size: 16px;
                margin-left: 8px;
            }
            img {
                width: 24px;
                height: 24px;
                border-radius: 100%;
            }
        }
    }
    .friends {
        width: fit-content;
        display: flex;
        align-items: center;
        .friendImg {
            width: 20px;
            height: 20px;
            border-radius: 15px;
        }
        .arrow {
            margin-left: auto;
            width: 20px;
        }
        .text {
            width: max-content;
            font-weight: 400;
            font-size: 10px;
            margin-left: 5px;
        }
    }

    .daoListCon {
        display: flex;
        flex-direction: column;
    }
}

.reviewCon {
    display: flex;
    flex-direction: column;
    width: 1080px;
    row-gap: 16px;
    margin-top: 30px;
    margin-bottom: 150px;

    @media (max-width: $LAPTOP) and (min-width: $PHONE) {
        width: laptop_to_tablet_fluid(1030);
        row-gap: laptop_to_tablet_fluid(16);
        margin-top: laptop_to_tablet_fluid(30);
        margin-bottom: laptop_to_tablet_fluid(150);
    }

    @media (max-width: $PHONE) {
        width: 100%;
        align-items: center;
    }
}

.reviewComp {
    display: flex;
    width: 100%;
    background-color: rgb(255, 255, 255);
    flex-direction: column;
    height: auto;
    padding: 24px;
    padding-bottom: 8px;
    border-radius: 16px;

    .profilePic {
        display: flex;
        border-radius: 100%;
        background-size: contain;
        width: 40px;
        height: 40px;
        margin-right: 12px;
    }

    .userInfo {
        display: flex;
        align-items: center;
        p {
            margin: 0;
        }

        .address {
            font-weight: 500;
            margin-bottom: 8px;
            color: black;
            font-size: 18px;
        }
    }

    .review_desc {
        margin-top: 16.5px;
        //margin-bottom: 10px;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        white-space: pre-wrap;
    }

    .bottom_nav {
        display: flex;
        span {
            cursor: pointer;
        }
        .iconText {
            display: flex;
            margin-right: 25px;
            align-items: center;
            font-size: 16px;
            img {
                margin-right: 4.5px;
                height: 16.46px;
            }
        }
    }

    @media (max-width: $LAPTOP) and (min-width: $PHONE) {
        padding: laptop_to_tablet_fluid(24);
        padding-bottom: laptop_to_tablet_fluid(8);
        border-radius: laptop_to_tablet_fluid(16);

        .profilePic {
            width: laptop_to_tablet_fluid(40);
            height: laptop_to_tablet_fluid(40);
            margin-right: laptop_to_tablet_fluid(12);
        }

        .userInfo {
            .address {
                margin-bottom: laptop_to_tablet_fluid(8);
                font-size: laptop_to_tablet_fluid(18);
            }
        }

        .review_desc {
            margin-top: laptop_to_tablet_fluid(16.5);
            font-size: laptop_to_tablet_fluid(16);
        }

        .bottom_nav {
            .iconText {
                margin-right: laptop_to_tablet_fluid(25);
                font-size: laptop_to_tablet_fluid(16);
                img {
                    margin-right: laptop_to_tablet_fluid(4.5);
                    height: laptop_to_tablet_fluid(16.46);
                }
            }
        }
    }

    @media (max-width: $PHONE) {
        width: 90%;
    }
}

.starComp {
    display: flex;
    column-gap: 10px;
    img {
        width: 20px;
        height: 20px;
        padding: 0;
    }
}

.starComp_small {
    display: flex;
    column-gap: 8px;
    img {
        width: 16px;
        height: 16px;
        padding: 0;
    }
}

@media (max-width: $LAPTOP) and (min-width: $PHONE) {
    .starComp {
        column-gap: laptop_to_tablet_fluid(10);
        img {
            width: laptop_to_tablet_fluid(20);
            height: laptop_to_tablet_fluid(20);
        }
    }
    .starComp_small {
        column-gap: laptop_to_tablet_fluid(8);
        img {
            width: laptop_to_tablet_fluid(16);
            height: laptop_to_tablet_fluid(16);
        }
    }
}

.tokenNftSec {
    display: flex;
    flex-direction: column;
    width: 1080px;
    margin-bottom: 150px;
    margin: 0 auto;

    @media (max-width: $LAPTOP) and (min-width: $PHONE) {
        width: laptop_to_tablet_fluid(1030);
        margin-bottom: laptop_to_tablet_fluid(150);
    }

    @media (max-width: $PHONE) {
        width: 90%;
        height: max-content;
    }

    .tokenSwitch {
        display: flex;
        background: #eeeff2;
        width: 1080px;
        height: 50px;
        border-radius: 12px;
        margin-top: 20px;
        padding: 4px;

        @media (max-width: $LAPTOP) and (min-width: $PHONE) {
            width: laptop_to_tablet_fluid(1030);
            height: laptop_to_tablet_fluid(50);
            border-radius: laptop_to_tablet_fluid(12);
            margin-top: laptop_to_tablet_fluid(28);
            padding: laptop_to_tablet_fluid(4);
        }

        @media (max-width: $PHONE) {
            width: 100%;
            min-height: phone_fluid(46);
            height: max-content;
            border-radius: 8px;
        }

        .btnSwitchSelected {
            display: flex;
            width: 50%;
            height: 100%;
            background-color: white;
            border: none;
            box-shadow: 0px 4px 5px -1px rgba(0, 0, 0, 0.08);
            justify-content: center;
            align-items: center;
            border-radius: 8px;
            font-size: 15px;

            @media (max-width: $LAPTOP) and (min-width: $PHONE) {
                border-radius: laptop_to_tablet_fluid(8);
                font-size: laptop_to_tablet_fluid(15);
            }

            @media (max-width: $PHONE) {
                border-radius: phone_fluid(8);
                font-size: phone_fluid(14);
                min-height: phone_fluid(46);
            }
        }
        .btnSwitch {
            display: flex;
            width: 50%;
            height: 100%;
            background-color: transparent;
            border: none;
            justify-content: center;
            align-items: center;
            border-radius: 8px;
            font-size: 15px;

            @media (max-width: $LAPTOP) and (min-width: $PHONE) {
                font-size: laptop_to_tablet_fluid(15);
            }
            @media (max-width: $PHONE) {
                border-radius: phone_fluid(8);
                font-size: phone_fluid(14);
                min-height: phone_fluid(46);
            }
            &:hover {
                color: blue;
            }
        }
    }
}

.nfts {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1080px;
    margin-top: 16px;
    gap: 16px;
    @media (max-width: $LAPTOP) and (min-width: $PHONE) {
        width: laptop_to_tablet_fluid(1030);
        margin-top: laptop_to_tablet_fluid(16);
        gap: laptop_to_tablet_fluid(16);
    }
    @media (max-width: $PHONE) {
        width: 100%;
        height: max-content;
        justify-content: center;
    }
}

.nftCon {
    display: flex;
    background: #ffffff;
    overflow: hidden;
    flex-direction: column;
    width: 258px;
    height: 364px;
    border-radius: 8px;

    @media (max-width: $LAPTOP) and (min-width: $PHONE) {
        width: laptop_to_tablet_fluid(258);
        height: laptop_to_tablet_fluid(364);
        border-radius: laptop_to_tablet_fluid(8);
    }

    @media (max-width: $PHONE) {
        width: phone_fluid(163.5);
        height: phone_fluid(236);
    }

    .cover {
        display: flex;
        width: 100%;
        height: 258px;
        background-color: #3065f3;
        background-position: center;
        background-size: cover;
        @media (max-width: $LAPTOP) and (min-width: $PHONE) {
            height: laptop_to_tablet_fluid(258);
        }
        @media (max-width: $PHONE) {
            height: 163px;
        }
    }
    .info {
        padding: 12px;
        h3 {
            font-weight: 600;
            font-size: 16px;
            margin: 0;
            margin-bottom: 20px;
        }
        p {
            margin: 0;
            margin-bottom: 5px;
            font-size: 10px;
            color: #5c657d;
        }
        .price {
            display: flex;
            align-items: center;
            img {
                width: 10px;
                margin-right: 4px;
            }
            h4 {
                font-weight: 600;
                font-size: 16px;
                margin: 0;
            }
        }

        @media (max-width: $LAPTOP) and (min-width: $PHONE) {
            padding: laptop_to_tablet_fluid(12);
            h3 {
                font-size: laptop_to_tablet_fluid(16);

                margin-bottom: laptop_to_tablet_fluid(20);
            }
            p {
                margin-bottom: laptop_to_tablet_fluid(5);
                font-size: laptop_to_tablet_fluid(10);
            }
            .price {
                img {
                    width: laptop_to_tablet_fluid(10);
                    margin-right: laptop_to_tablet_fluid(4);
                }
                h4 {
                    font-weight: 600;
                    font-size: laptop_to_tablet_fluid(16);
                }
            }
        }

        @media (max-width: $PHONE) {
            h3 {
                font-size: phone_fluid(12);
            }
            p {
                font-size: phone_fluid(8);
            }
            .price {
                h4 {
                    font-weight: 600;
                    font-size: phone_fluid(10);
                }
            }
        }
    }
}

.tokens {
    display: flex;
    flex-wrap: wrap;
    width: 1080px;
    margin-top: 16px;
    gap: 16px;
    justify-content: center;
    @media (max-width: $LAPTOP) and (min-width: $PHONE) {
        width: laptop_to_tablet_fluid(1030);
        margin-top: laptop_to_tablet_fluid(16);
        gap: laptop_to_tablet_fluid(16);
    }
    @media (max-width: $PHONE) {
        width: 100%;
    }
}

.token {
    display: grid;
    flex-direction: column;
    width: 532px;
    height: 102px;

    grid-template-columns: 1.4fr 10fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "a b"
        "a d";
    //height: 102px;
    background: #ffffff;
    border-radius: 8px;
    padding: 25px 24px;
    align-items: center;
    .tokenLogo {
        height: 44px;
        width: 44px;
        grid-area: a;
        // margin-top: 5px;
    }

    @media (max-width: $PHONE) {
        width: 100%;
        grid-template-columns: 2fr 10fr;
        padding: phone_fluid(18) phone_fluid(16);
    }
}

.topLine {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    margin-bottom: 5px;
    grid-area: b;
    .tokenName {
        display: flex;
        font-weight: 600;
        font-size: 20px;
        align-items: center;
        p {
            font-weight: 400;
            font-size: 16px;
            margin: 0;
            opacity: 0.5;
            margin-left: 2.5px;
        }
    }

    h3 {
        margin: 0;
    }
}
.bottomLine {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    grid-area: d;
    p {
        margin: 0;
        color: #5c657d;
    }
}

.xp {
    display: flex;
    width: 972px;
    flex-direction: column;
}

.xpChipCon {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 16px;
    margin-top: 40px;
}

.xpChipWrapper {
    background: #ffffff;
    box-shadow: 0px 2.41684px 3.62525px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    width: 522px;
    padding: 22px 15.6px;
    // padding-bottom: 0;
    height: fit-content;

    .status {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 15px;
        .progress {
            display: flex;
            width: 389px;
            height: 2px;
            background: #eeeff2;

            .progressInner {
                height: 100%;
                width: 60%;
                background: linear-gradient(90deg, #5e1ed1 0%, #3065f3 100%);
                border-radius: 32px;
            }
        }

        p {
            font-weight: 400;
            font-size: 12px;
            margin: 0;
        }
    }
    @media (max-width: $PHONE) {
        .status {
            .progress {
                width: 100%;
            }
            p {
                font-size: phone_fluid(7);
            }
        }
    }
}

.xpChip {
    display: flex;
    width: 100%;
    //  height: 85px;
    align-items: center;

    img {
        width: 45.81px;
        height: 45.81px;
    }
    span {
        margin-left: 18.5px;
        h1,
        p {
            margin: 0;
        }
        h1 {
            font-weight: 600;
            font-size: 14px;
            margin-bottom: 6.7px;
            display: flex;
            align-items: center;
            span {
                font-weight: 500;
                font-size: 8px;
                outline: 1px solid gray;
                padding: 4px 14.5px;
                border-radius: 15px;
            }
        }
        p {
            font-weight: 400;
            font-size: 10px;
        }
    }
    button {
        background: linear-gradient(90deg, #5e1ed1 0%, #3065f3 100%);
        box-shadow: 0px 5.09688px 6.3711px -1.27422px rgba(0, 0, 0, 0.08);
        border-radius: 10.1938px;
        border: none;
        color: white;
        padding: 8px 20.15px;
        margin-left: auto;
        width: fit-content;
    }
    @media (max-width: $PHONE) {
        span {
            h1 {
                font-size: phone_fluid(10);
                span {
                    font-size: phone_fluid(7);
                    padding: phone_fluid(2) phone_fluid(4);
                }
            }
            p {
                font-size: 8px;
            }
        }
        button {
            width: max-content;
            height: phone_fluid(21.03);
            font-weight: 600;
            font-size: phone_fluid(8);
            border-radius: phone_fluid(7.45779);
            padding: 0 phone_fluid(10);
        }
    }
}

.onBoardingFlow {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.466);
    position: fixed;
    z-index: 200;
    justify-content: center;
    align-items: center;
}

.onBoardingForm {
    display: flex;
    width: 600px;
    height: 592px;
    background: #ffffff;
    margin: 0 auto;
    flex-direction: column;
    border-radius: 8px;
    overflow: hidden;

    .progressBar {
        display: flex;
        width: 100%;
        height: 5px;
        background-color: #f7f7f7;
        margin-top: auto;
        z-index: 100;
        position: absolute;
        bottom: 0;
        left: 0;
        .progressInner {
            display: flex;
            width: 50%;
            height: 100%;
            background: linear-gradient(90deg, #5e1ed1 0%, #3065f3 100%);
            border-radius: 64px;
        }
    }
}

.progressHeader {
    display: flex;
    width: 100%;
    height: 110px;
    background-color: #ffffff;
    position: relative;
    align-items: center;
    padding: 24px;

    .title {
        h1 {
            font-weight: 500;
            font-size: 20px;
            margin-bottom: 4px;
        }
        p {
            font-weight: 400;
            font-size: 12px;
            margin-top: 0;
        }
    }

    .xpCon {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        .xpIcon {
            display: flex;
            align-items: center;
            p {
                margin: 0;
                font-weight: 500;
                font-size: 20px;
            }
            img {
                height: 32px;
                width: 32px;
                margin-right: 4px;
            }
        }
        p {
            margin: 0;
            margin-top: 5px;
            font-weight: 400;
            font-size: 12px;
            margin-left: auto;
        }
    }
}

.formContent {
    display: flex;
    flex-direction: column;
    min-height: 500px;
    width: 100%;
    background-color: #ffffff;
    padding: 0 24px;
    overflow: hidden;
    overflow-y: scroll;
    padding-bottom: 50px;
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #ffffff;
    }

    &::-webkit-scrollbar {
        width: 6px;
        background-color: #ffffff;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #b1b1b1;
    }

    .inputTitle {
        display: flex;
        width: 100%;
        align-items: center;
        height: max-content;
        padding-bottom: 15px;
        border-bottom: 1px solid #eeeff2;
        justify-content: space-between;
        margin-bottom: 16px;
        margin-top: 20px;
        .titleSub {
            h1 {
                font-weight: 400;
                font-size: 16px;
                margin: 0;
                margin-bottom: 4px;
            }
            p {
                font-weight: 400;
                font-size: 12px;
                margin: 0;
            }
        }

        .iconXp {
            display: flex;
            align-items: center;
            height: 20px;
            img {
                height: 17.5px;
                width: 17.5px;
                margin-right: 1.9px;
            }
            margin-bottom: auto;
        }
    }

    .profilePicture {
        border-radius: 100%;
        min-height: 104px;
        min-width: 104px;
        height: 104px;
        width: 104px;
        outline: 2px solid #f7f7f7;
    }

    .walletSec {
        display: flex;
        width: 100%;
        gap: 15px;
        flex-wrap: wrap;
        height: max-content;

        .walletChip {
            display: flex;
            width: 184px;
            height: 38px;
            align-items: center;
            justify-content: space-between;
            padding: 0 16px;
            border: 1.5px solid rgba(48, 101, 243, 1);
            border-radius: 16px;
            p {
                font-weight: 400;
                font-size: 14px;
            }
            img {
                width: 20px;
                height: 20px;
            }
        }

        .walletChipAdd {
            @extend .walletChip;
            background: linear-gradient(90deg, #5e1ed1 0%, #3065f3 100%);
            color: white;
        }
    }

    .bioInput {
        width: 549px;
        min-height: 101px;
        border: 1px solid #cacdd5;
        border-radius: 8px;
    }

    .connectSocials {
        display: flex;
        width: 100%;
        .walletChip {
            display: flex;
            width: 184px;
            height: 38px;
            align-items: center;
            justify-content: space-between;
            padding: 0 16px;
            border: 1.5px solid rgba(48, 101, 243, 1);
            border-radius: 16px;
            margin-left: auto;
            p {
                font-weight: 400;
                font-size: 14px;
            }
            img {
                width: 20px;
                height: 20px;
            }
        }

        .socialInput {
            display: flex;
            width: 100%;
        }

        .socialInputTitle {
            display: flex;
            align-items: center;
            width: 100%;
            img {
                width: 12px;
                height: 12px;
                margin-left: 5px;
            }

            .xpNum {
                font-weight: 600;
                font-size: 10px;
                background: linear-gradient(90deg, #5e1ed1 0%, #3065f3 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-fill-color: transparent;
            }
        }
    }
}

.tagsCon {
    display: flex;
    flex-direction: column;
    width: 100%;

    .selectedChips {
        display: flex;
        width: 100%;
        border-bottom: 1px solid #eeeff2;
        gap: 8px;
        padding-bottom: 15px;
    }

    .chip {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid gray;
        border-radius: 16px;
        width: fit-content;
        padding: 8px 15px;
        p {
            padding: 0;
            margin: 0;
            font-size: 12px;
        }
    }

    .chip_selected {
        @extend .chip;
        border: 1px solid rgb(33, 33, 248);
        background: #d6e0fd;

        img {
            margin-left: 10px;
        }
    }

    .chipOptions {
        display: flex;
        gap: 8px;
        flex-wrap: wrap;
        padding: 15px 0;
    }
}

.completeProfilePrompt {
    display: flex;
    width: 1080px;
    background: #ffffff;
    border-radius: 12px;
    padding: 32px;
    margin: 24px 0;

    span {
        display: flex;
        flex-direction: column;
        width: 80%;
        h1 {
            background: linear-gradient(90deg, #5e1ed1 0%, #3065f3 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
            font-weight: 600;
            font-size: 20px;
        }
        p {
            font-weight: 500;
            font-size: 14px;
        }
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li {
        display: flex;
        align-items: center;
        margin: 10px 0;
        padding: 0;
        font-size: 12px;
        img {
            margin-right: 8px;
        }
    }

    img {
        height: 15px;
        width: 15px;
        object-fit: fill;
    }

    button {
        border: none;
        background-color: white;
        border: 1.5px solid blue;
        color: blue;
        padding: 10px 30px;
        border-radius: 15px;
        font-size: 14px;
        height: fit-content;
        margin: 0 0;
        margin-top: auto;
    }

    @media (max-width: $LAPTOP) and (min-width: $PHONE) {
        width: laptop_to_tablet_fluid(1030);

        span {
            h1 {
                font-size: laptop_to_tablet_fluid(20);
            }
            p {
                font-size: laptop_to_tablet_fluid(14);
            }
        }

        li {
            font-size: laptop_to_tablet_fluid(12);
            img {
                margin-right: laptop_to_tablet_fluid(8);
            }
        }

        img {
            height: laptop_to_tablet_fluid(15);
            width: laptop_to_tablet_fluid(15);
        }
        button {
            padding: laptop_to_tablet_fluid(10) laptop_to_tablet_fluid(30);
            border-radius: laptop_to_tablet_fluid(15);
            font-size: laptop_to_tablet_fluid(14);
        }
    }

    @media (max-width: $PHONE) {
        width: 95%;
        flex-direction: column;
        ul {
            margin: 15px 0;
        }
        span {
            width: 100%;
            h1 {
                font-size: 14px;
                margin: 0;
            }
            p {
                font-size: 12px;
            }
        }
    }
}

.communities_list {
    display: flex;
    max-width: 1080px;
    width: 95%;
    flex-wrap: wrap;
    margin: 50px 0;
    justify-content: center;
    gap: 25px 35px;

    @media (min-width: 1440px) {
        gap: 50px 70px;
    }
}

.mission {
    display: flex;
    flex-direction: column;
    width: 532px;
    height: 169px;
    background-color: white;
    border-radius: 8px;
    outline: 1.8px solid rgba(0, 81, 255, 0);
    cursor: pointer;
    &:hover {
        transition: all 0.35s ease-in-out;
        outline: 1.8px solid rgb(0, 81, 255);
    }

    background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 1) 75%,
        rgba(0, 81, 255, 0.274) 100%
    );
    position: relative;
    &::after {
        content: "";
        display: flex;
        width: 100%;
        height: 100%;
        position: absolute;
        background: url("/missions/imggrad.png");
        background-repeat: no-repeat;
        background-position: right;
        opacity: 0.13;
        top: 0;
        right: 0;
    }
    padding: 20px;

    .xpCount {
        display: flex;
        align-items: center;
        position: absolute;
        right: 20px;
        top: 50%;
        bottom: 50%;
        img {
            width: 22.57px;
            height: 22.57px;
            margin-right: 5px;
        }
        p {
            color: #2c3857;
            margin-left: auto;
            font-weight: 700;
            font-size: 20px;
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        width: 75%;

        p,
        h2,
        p {
            margin: 0;
        }

        .daoName {
            font-weight: 600;
            font-size: 12px;
            color: #7d7d7d;
        }
        .missionName {
            font-weight: 600;
            font-size: 16px;
            margin-top: 2px;
            margin-bottom: 8px;
        }
        .missionDesc {
            font-weight: 400;
            font-size: 14px;
            line-height: 160%;
            margin-top: 16px;
            color: #8c93a3;
        }
    }

    @media (max-width: 1140px) {
        width: 95%;
        height: 169px;
        margin: 0 auto;
    }
    // @media (max-width: 1024px) {
    //     width: 704px;
    //     height: 169px;
    // }

    .tags {
        display: flex;
        margin-top: auto !important;
        align-items: center;
        column-gap: 8px;

        .tag {
            display: flex;
            height: min-content;
            width: min-content;
            align-items: center;
            border-radius: 20px;
            padding: 2px 10px;
            outline: 1px solid black;
            img {
                width: 10px;
                height: 10px;
                margin-right: 6px;
            }
            p {
                font-weight: 400;
                font-size: 10px;
                margin: 2px 0 !important;
            }
        }
    }
}

.XpSec {
    display: flex;
    flex-wrap: wrap;
    max-width: 1080px;
    // justify-content: center;
    width: 100%;
    gap: 16px;
    margin: 30px 0;
    height: 100%;
}

.referral {
    display: flex;
    width: 1080px;
    min-height: 500px;
    margin-top: 26px;
    column-gap: 16px;
    //outline: 1px solid red;

    .linkBox {
        display: flex;
        flex-direction: column;
        width: 349px;
        height: 300px;
        border: 2px solid #cacdd5;
        border-radius: 8px;
        overflow: hidden;

        .linkInfo {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
            height: 269px;
            background-color: white;

            img {
                width: 60px;
                height: 60px;
            }

            h1 {
                font-weight: 600;
                font-size: 20px;
                margin-bottom: 12px;
            }
            p {
                font-weight: 500;
                font-size: 12px;
                text-align: center;
                width: 75%;
                margin-top: 0;
            }
        }
        .link {
            display: flex;
            width: 100%;
            height: 80px;
            border-top: 2px solid #cacdd5;
            margin-top: auto;
            align-items: center;
            justify-content: center;
            p {
                font-weight: 500;
                font-size: 18px;
                color: #49536e;
            }
            img {
                width: 32px;
                height: 32px;
                margin-left: 40px;
            }
        }
    }

    .stages {
        display: flex;
        width: 715px;
        height: 300px;
        background: #ffffff;
        /* light grey 500 */

        border: 2px solid #cacdd5;
        border-radius: 8px;
    }
}

.appear {
    animation: appear 0.5 ease-in-out;
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
