// QUERY TEMPLATES
// @media (max-width: 1024px) {
// #{calc((64 / $DESKTOP_N) * 100)}vw

//BREAKPOINTS

$DESKTOP: 1440px;
$LAPTOP: 1090px;
$TABLET: 768px;
$PHONE: 426px;

$DESKTOP_N: 1440;
$LAPTOP_N: 1090;
$TABLET_N: 768;
$PHONE_N: 426;

//FLUID FUNCTIONS

@function desktop_to_laptop_fluid($units) {
    @return #{calc(($units / $DESKTOP_N) * 100)}vw;
}
@function laptop_to_tablet_fluid($units) {
    @return #{calc(($units / $LAPTOP_N) * 100)}vw;
}
@function tablet_to_phone_fluid($units) {
    @return #{calc(($units / $TABLET_N) * 100)}vw;
}
@function phone_fluid($units) {
    @return #{calc(($units / $PHONE_N) * 100)}vw;
}

.dao {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(246, 246, 246, 1);
    align-items: center;
    padding-top: 100px;
    @media (max-width: $DESKTOP) and (min-width: $LAPTOP) {
        padding-top: desktop_to_laptop_fluid(100);
    }
    @media (max-width: $LAPTOP) and (min-width: $TABLET) {
        padding-top: laptop_to_tablet_fluid(100);
    }
    @media (max-width: $TABLET) and (min-width: $PHONE) {
        padding-top: tablet_to_phone_fluid(100);
    }
    @media (max-width: $PHONE) {
        padding-top: phone_fluid(90);
    }
}

.infoSec {
    display: flex;
    flex-direction: column;
    width: 1080px;
    padding-top: 44px;
    padding-bottom: 33px;

    .title {
        font-weight: 600;
        margin: 0;
        margin-bottom: 12px;
        font-size: 25px;
    }

    .desc {
        margin: 0;
        font-size: 16px;
        width: 700px;
        margin-bottom: 12px;
    }

    .reviewInfo {
        display: flex;
        margin-right: auto;
        flex-direction: column;
        .ratingCon {
            display: flex;

            p {
                margin: 0;
                margin-left: 16px;
                font-weight: 400;
                font-size: 13px;
            }
        }

        .categoryCon {
            display: flex;
            column-gap: 8px;
            margin-top: 12.5px;

            .category {
                cursor: pointer;
                background-color: white;
                padding: 7px 16px;
                border: 0.5px solid rgba(79, 79, 79, 1);
                border-radius: 20px;
            }
        }
    }

    .cta {
        display: flex;
        button {
            margin-left: 15px;
            margin-top: auto;
        }
    }

    .cover {
        border-radius: 16px;
        margin-top: 28px;
    }

    @media (max-width: $LAPTOP) {
        width: 972px;
        padding-top: 44px;
        padding-bottom: 33px;
    }

    @media (max-width: $LAPTOP) and (min-width: $TABLET) {
        width: laptop_to_tablet_fluid(972);
        padding-top: laptop_to_tablet_fluid(44);
        padding-bottom: laptop_to_tablet_fluid(33);
    }

    @media (max-width: $TABLET) {
        width: 704px;

        .desc {
            width: 100%;
        }

        .categoryCon {
            .category {
                font-size: 12px;
            }
        }
    }

    @media (max-width: $TABLET) and (min-width: $PHONE) {
        width: tablet_to_phone_fluid(704);
        padding-top: tablet_to_phone_fluid(0);
        .categoryCon {
            .category {
                font-size: tablet_to_phone_fluid(12);
            }
        }
    }

    @media (max-width: $PHONE) {
        width: phone_fluid(375);
        padding-top: phone_fluid(0);
        .cta {
            button {
                display: none;
            }
        }
    }
}

.starComp {
    display: flex;
    column-gap: 10px;
    img {
        width: 20px;
        height: 20px;
        padding: 0;
    }
}

.starComp_small {
    display: flex;
    column-gap: 8px;
    img {
        width: 16px;
        height: 16px;
        padding: 0;
    }
}

.navSec {
    display: flex;
    list-style: none;
    font-weight: 400;
    font-size: 20px;
    margin: 0;
    padding: 0;
    column-gap: 40px;
    width: 1080px;
    li {
        border-bottom: 2px solid rgba(0, 0, 255, 0);
        cursor: pointer;
    }
    .selected {
        padding-bottom: 8px;
        border-bottom: 2px solid blue;
        font-weight: 500;
    }

    @media (max-width: $LAPTOP) {
        width: 972px;
    }
    @media (max-width: $LAPTOP) and (min-width: $TABLET) {
        width: laptop_to_tablet_fluid(972);
    }
    @media (max-width: $LAPTOP) {
        width: 704px;
    }
    @media (max-width: $LAPTOP) and (min-width: $PHONE) {
        width: tablet_to_phone_fluid(675);
    }
    @media (max-width: $PHONE) {
        font-size: phone_fluid(16);
        column-gap: phone_fluid(40);
        width: 100%;
        justify-content: center;
    }
}

.content {
    display: flex;
    width: 1080px;
    min-height: 100vh;
    padding-bottom: 62px;

    animation: appear 0.35s ease-in-out forwards;

    .main {
        width: 715px;
    }

    @media (max-width: $LAPTOP) {
        width: 972px;
        .main {
            width: 643px;
        }
    }
    @media (max-width: $LAPTOP) and (min-width: $TABLET) {
        width: laptop_to_tablet_fluid(972);
        .main {
            width: laptop_to_tablet_fluid(643);
        }
    }
    @media (max-width: $TABLET) {
        width: 704px;
        .main {
            width: 704px;
        }
    }
    @media (max-width: $TABLET) and (min-width: $PHONE) {
        width: tablet_to_phone_fluid(704);
        .main {
            width: tablet_to_phone_fluid(704);
        }
    }
    @media (max-width: $PHONE) {
        width: phone_fluid(425);
        .main {
            width: phone_fluid(425);
        }
    }
}

.reviewSec {
    display: flex;
    flex-direction: column;
    width: 100%;

    @media (max-width: $PHONE) {
        width: phone_fluid(375);
        margin: 0 auto;
    }
}

.reviewFilter {
    display: flex;
    margin-top: 15px;
    width: 100%;
    justify-content: space-between;
}

.filter {
    display: flex;
    background: #ffffff;
    position: relative;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-radius: 16px;
    width: 166px;
    height: 48px;
    padding: 16px;
    img {
        height: 10px;
    }

    &:hover {
        .filterOptions {
            display: flex;
        }
    }

    @media (max-width: $TABLET) and (min-width: $PHONE) {
        border-radius: tablet_to_phone_fluid(16);
        width: tablet_to_phone_fluid(166);
        height: tablet_to_phone_fluid(48);
        padding: tablet_to_phone_fluid(16);
        img {
            height: tablet_to_phone_fluid(10);
        }
    }
}

.filterOptions {
    display: none;
    // display: flex;
    position: absolute;
    flex-direction: column;
    background-color: white;
    list-style: none;
    padding-left: 0;
    overflow: hidden;
    cursor: pointer;
    left: 0;
    top: 32px;
    width: 166px;
    border-radius: 16px;
    box-shadow: 0 0 15px gainsboro;
    li {
        margin: 0;
        padding: 10px 16px;
        &:hover {
            background-color: rgb(248, 248, 248);
        }
    }
    @media (max-width: $TABLET) and (min-width: $PHONE) {
        top: tablet_to_phone_fluid(32);
        width: tablet_to_phone_fluid(166);
        border-radius: tablet_to_phone_fluid(16);
        box-shadow: 0 0 tablet_to_phone_fluid(15) gainsboro;

        li {
            padding: tablet_to_phone_fluid(10) tablet_to_phone_fluid(16);
        }
    }
}

.reviewCon {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    margin-top: 24px;
    border-radius: 16px;
    overflow: hidden;
    // background-color: rgb(255, 255, 255);
    @media (max-width: $TABLET) and (min-width: $PHONE) {
        margin-top: tablet_to_phone_fluid(24);
        border-radius: tablet_to_phone_fluid(16);
    }
}

.reviewComp {
    display: flex;
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 24px;
    padding-bottom: 8px;
    border-radius: 16px;
    flex-direction: column;
    height: auto;

    .profilePic {
        border-radius: 100%;
        width: 40px;
        height: 40px;
        margin-right: 12px;
    }

    .userInfo {
        display: flex;
        align-items: center;
        p {
            margin: 0;
        }

        .address {
            font-weight: 500;
            font-size: 16px;
            margin-bottom: 8px;
        }
    }

    .review_desc {
        margin-top: 16.5px;
        //margin-bottom: 10px;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        white-space: pre-wrap;
    }

    .bottom_nav {
        display: flex;
        .iconText {
            display: flex;
            margin-right: 25px;
            align-items: center;
            img {
                margin-right: 4.5px;
                height: 16.46px;
            }
        }
    }

    // .divider {
    //     margin-top: auto;
    //     height: 1px;
    //     background: rgba(224, 224, 224, 1);
    // }

    @media (max-width: $TABLET) {
        width: 704px;
    }
    @media (max-width: $TABLET) and (min-width: $PHONE) {
        width: tablet_to_phone_fluid(704);
    }
    @media (max-width: $PHONE) {
        width: 100%;
    }
}

.showmore {
    margin: 0;
    padding: 0;
    //margin-bottom: 5px;
    font-weight: 400;
    color: gray;
    cursor: pointer;
    &:hover {
        color: blue;
    }
}

.coming_soon {
    margin: 15vh auto;
    font-size: 3vw;
    font-weight: 500;
    opacity: 0.4;
    display: flex;
}

.chain_tag{
    display: flex;
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
