$tablet: 860px;

.profileLoginPage {
    display: flex;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.37);
    z-index: 200;
    position: absolute;
    left: 0;
    top: 0;
    justify-content: center;
    align-items: center;
    animation: appear 0.5s ease-in-out;
    position: fixed;

    .closeIcon {
        height: 30px;
        width: 30px;
        position: absolute;
        right: 0;
        top: 0;
        margin: 15px;
        cursor: pointer;
    }

    .loginModel {
        display: flex;
        width: 828px;
        height: 407px;
        background-color: white;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 16px;
        flex-direction: column;
        position: relative;

        @media (max-width: $tablet) {
            max-width: 370px;
            margin: 0 10px;
            width: 100%;
            height: min-content;
            padding: 25px 5px;
        }
    }

    .colScreens {
        display: flex;
        justify-content: center;
        align-items: center;

        .right {
            border-right: 1px solid rgba(128, 128, 128, 0.226);
        }
        .screen {
            display: flex;
            width: 50%;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .imgBg {
                background: #eeeff2;
                border-radius: 100%;
            }
            img {
                width: 100px;
                height: 100px;
                padding: 25px;
            }
            p {
                text-align: center;
                margin-bottom: 20px;
                color: gray;
                width: 80%;
                font-size: 12px;
                line-height: 160%;
            }
            button {
                width: 315px;
                height: 41px;
                background: linear-gradient(90deg, #5e1ed1 0%, #3065f3 100%);
                border-radius: 16px;
                color: white;
                border: none;
            }
        }

        @media (max-width: $tablet) {
            flex-direction: column;
            .right {
                border-right: 0;
            }
            .screen {
                width: 100%;
                button {
                    width: 80%;
                }
            }
            .wallet {
                padding-top: 2.5vh;
                margin-top: 2.5vh;
                border-top: 1px solid #d3d3d3bb;
            }
        }
    }

    .messageCon {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        padding: 32px 52px;
        padding-bottom: 15px;
        h3,
        h1,
        p,
        h2 {
            margin: 0;
            text-align: center;
            font-weight: 400;
            font-size: 16px;
        }
        h1 {
            margin-bottom: 10px;
            font-weight: 500;
            font-size: 20px;
        }
        p {
            margin-bottom: 16px;
            font-weight: 400;
            font-size: 12px;
            line-height: 160%;
        }
        img {
            margin: 0 8px;
        }
        span {
            display: flex;
        }
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
