$tablet: 1100px;
$mobile: 800px;

.missionPage {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background: #f7f7f7;
    align-items: center;
    padding-top: 100px;

    @media (max-width: $mobile) {
        padding-top: 60px;
    }

    // * {
    //     background-color: rgba(255, 0, 0, 0.281);
    // }
}

.missionHead {
    margin-top: 16px;
    display: flex;
    width: 1080px;
    height: 229px;
    background-color: white;
    border-radius: 16px;
    position: relative;
    overflow: hidden;
    background: rgb(255, 255, 255);
    padding: 33px 48px;
    background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 1) 75%,
        rgba(0, 81, 255, 0.274) 100%
    );
    &::after {
        content: "";
        display: flex;
        width: 100%;
        height: 100%;
        position: absolute;
        background: url("/missions/imggrad.png");
        background-repeat: no-repeat;
        background-position: right;
        opacity: 0.13;
    }

    @media (max-width: $tablet) {
        width: 95%;
    }

    @media (max-width: $mobile) {
        flex-direction: column;
        height: fit-content;
        padding: 16px;
        margin: 0 15px;
        .profileImg {
            width: 69px;
            height: 69px;
        }
        .content {
            width: 90%;
        }
    }
}

.profileImg {
    width: 109px;
    height: 109px;
    border-radius: 100%;
    margin-left: 16px;
    margin-bottom: 5px;
}

.content {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    width: 65%;
    height: 100%;
    h2,
    h1,
    p {
        margin: 0;
    }

    h2 {
        font-weight: 600;
        font-size: 12px;
        color: #7d7d7d;
    }

    h1 {
        font-weight: 600;
        font-size: 28px;
        margin-top: 8px;
    }
    .desc {
        margin-top: 10px;
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
    }

    @media (max-width: $tablet) {
        h2 {
            font-size: 12px;
        }
        h1 {
            font-size: 20px;
        }
        desc {
            font-size: 14px;
        }
    }
    @media (max-width: $mobile) {
        h2 {
            font-size: 10px;
        }
        h1 {
            font-size: 18px;
        }
        desc {
            font-size: 12px;
        }
    }
}

.xp {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: auto;
    justify-content: center;
    position: relative;
    p,
    h1 {
        margin: 0;
    }
    p {
        color: #2c3857;
        margin-left: auto;
        margin-bottom: 10px;
    }
    .xpCount {
        display: flex;
    }
    img {
        width: 42.9px;
        height: 42.9px;
        margin-right: 5px;
    }

    @media (max-width: $tablet) {
        img {
            width: 20px;
            height: 20px;
        }
        .xpCount {
            font-weight: 600;
            font-size: 10px;
            h1 {
                font-size: 20px;
            }
        }
        p {
            font-size: 16px;
        }
    }

    @media (max-width: $mobile) {
        position: absolute;
        top: 17px;
        right: 17px;
        height: max-content;
        p {
            font-size: 12px;
        }
        .xpCount {
            h1 {
                font-size: 18px;
            }
        }
    }
}

.tags {
    display: flex;

    margin-top: auto !important;
    align-items: center;
    column-gap: 16px;
    .tag {
        display: flex;
        height: min-content;
        width: min-content;
        align-items: center;
        border-radius: 20px;
        padding: 2px 10px;
        outline: 1px solid black;
        img {
            width: 10px;
            height: 10px;
            margin-right: 6px;
        }
        p {
            font-weight: 400;
            font-size: 10px;
            margin: 2px 0 !important;
        }
    }
}

.bottomNav {
    display: flex;
    margin-top: auto;

    @media (max-width: $mobile) {
        padding-top: 12px;
        flex-direction: column;
    }
}

.profilesCompleted {
    display: flex;
    width: max-content;
    align-items: center;
    margin-left: 16px;

    img {
        width: 16px;
        height: 16px;
        border-radius: 100%;
        position: relative;
    }
    p {
        margin: 0;
        padding: 0;
        font-weight: 400;
        font-size: 13.75px;
        margin-left: -5px !important;
    }

    @media (max-width: 800px) {
        margin-left: 0;
        margin-top: 16px;
    }
}

.subtitle {
    font-weight: 500;
    font-size: 18px;
    margin: 0;
    margin: 16px 0;
    width: 1080px;
    display: flex;
    align-items: center;

    @media (max-width: $tablet) {
        width: 95%;
    }
    img {
        width: 28px;
        height: 28px;
        margin-right: 8px;
    }
    @media (max-width: $mobile) {
        width: 95%;
        margin-left: 15px;
        font-weight: 500;
        font-size: 18px;
    }
}

.tasksCon {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    align-items: center;
    animation: appear 0.5s ease-in-out forwards;
    .task {
        display: flex;
        width: 1077px;
        height: 133px;
        padding: 24px;
        background: #ffffff;
        border-radius: 16px;
        align-items: center;
        border: 1px solid #3065f3;
        opacity: 0;
        animation: appear 0.5s 0.5s ease-in-out forwards;
        h1 {
            font-weight: 600;
            font-size: 18px;
            margin: 0;
        }
        p {
            font-weight: 400;
            font-size: 16px;
            margin: 0;
            line-height: 160%;
            margin-top: 6px;
        }
        .count {
            display: flex;
            width: 44px;
            height: 44px;
            border-radius: 100%;
            background: #eeeff2;
            justify-content: center;
            align-items: center;
        }
        .textCont {
            width: 70%;
            margin-left: 24px;
        }
        button {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 106px;
            height: 51px;
            margin-left: auto;
            background: linear-gradient(90deg, #5e1ed1 0%, #3065f3 100%);
            border-radius: 16px;
            color: white;
            border: none;
            font-weight: 500;
            font-size: 16px;
            &:hover {
                background: linear-gradient(90deg, #4910ae 0%, #1248d9 100%);
            }

            &:focus {
                outline: thick double #1248d9;
            }
            img {
                margin-left: 10px;

                height: 22px;
                width: 22px;
            }
        }
        .startBtn {
            border: 1.8px solid rgba(123, 97, 255, 1);
            color: rgb(83, 55, 226);
            background: transparent;

            &:hover {
                background: linear-gradient(90deg, #4910ae 0%, #1248d9 100%);
                color: white;
            }

            &:focus {
                outline: thick double #1248d9;
            }
        }
        @media (max-width: $tablet) {
            width: 95%;
        }
        @media (max-width: $mobile) {
            flex-direction: column;
            align-items: baseline;
            padding: 16px;
            height: max-content;

            .textCont {
                margin-left: 5px;
            }
            .count {
                min-width: 32px;
                min-height: 32px;
                width: 32px;
                height: 32px;
                border-radius: 100%;
                font-size: 11.6px;
            }
            h1 {
                font-weight: 600;
                font-size: 16px;
                margin-top: 8px;
            }
            p {
                font-weight: 400;
                font-size: 12px;
            }
            button {
                margin-left: 0;
                margin-top: 16px;
                width: 91px;
                height: 33px;
                border-radius: 12px;
                font-weight: 500;
                font-size: 12px;
                img {
                    height: 14px;
                    width: 14px;
                }
            }
        }
    }
    @media (max-width: $tablet) {
        width: 95%;
    }

    .taskDisabled {
        filter: grayscale(150%);
        opacity: 0.7;
        transform: scale(0.97);
        border: 1px solid #3064f300;
        button {
            background: rgb(170, 169, 169);
        }
    }

    .taskCompleted {
        transform: scale(0.97);
        border: 1px solid #3064f300;

        background: linear-gradient(90deg, rgba(43, 195, 127, 0.16) 0.05%, rgba(43, 195, 127, 0) 99.23%);
        button {
            background: rgba(43, 195, 127, 0.15);
            border: 1px solid #44ac21;
            display: flex;
            align-items: center;
            justify-content: center;
            width: max-content;
            padding: 0 25px;
            color: #49536e;
            font-size: 16px;
            line-height: 19px;
            font-weight: 500;
            letter-spacing: 1.1px;
            &:hover {
                background: rgba(43, 195, 127, 0.15);
                border: 1px solid #44ac21;
                color: #49536e;
                outline: none;
            }
        }
    }
}

.mainBtn {
    width: 1077px;
    height: 69px;
    border: none;
    background: rgba(189, 189, 189, 0.5);
    border-radius: 16px;
    font-weight: 500;
    font-size: 20px;
    color: gray;
    margin-top: 31px;
    margin-bottom: 240px;
    opacity: 0;
    animation: appear 0.5s 0.5s ease-in-out forwards;
    @media (max-width: $tablet) {
        width: 95%;
    }
}

.mainBtnDisabled {
    @extend .mainBtn;
}

.mainBtnClaim {
    @extend .mainBtn;
    background: linear-gradient(90deg, #5e1ed1 0%, #3065f3 100%);
    &:hover {
        background: linear-gradient(90deg, #4910ae 0%, #1248d9 100%);
    }

    &:focus {
        outline: thick double #1248d9;
    }
    color: white;
}

.taskNav {
    display: flex;
    column-gap: 20px;
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
