.spinner {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.wheel {
    display: flex;
    background: black;
    border-radius: 50%;
}

.inner {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
