$DESKTOP: 1440px;
$LAPTOP: 1024px;
$TABLET: 768px;
$PHONE: 425px;

$DESKTOP_N: 1440;
$LAPTOP_N: 1024;
$TABLET_N: 768;
$PHONE_N: 425;

//FLUID FUNCTIONS
@function desktop_to_laptop_fluid($units) {
    @return #{calc(($units / $DESKTOP_N) * 100)}vw;
}
@function laptop_to_tablet_fluid($units) {
    @return #{calc(($units / $LAPTOP_N) * 100)}vw;
}
@function tablet_to_phone_fluid($units) {
    @return #{calc(($units / $TABLET_N) * 100)}vw;
}

.navWrapper {
    display: flex;
    position: absolute;
    z-index: 9999;
    height: 100px;
    width: 100%;
    top: 0;
    left: 0;
    justify-content: center;
    //  border-bottom: 1px solid rgba(135, 135, 135, 0.25);
    background: #f7f7f7;
    box-shadow: 0px 1px 0px rgba(105, 105, 105, 0.25);
    //animation: appear 0.5s ease-in-out forwards;

    @media (max-width: $DESKTOP) and (min-width: $LAPTOP) {
        height: desktop_to_laptop_fluid(100);
    }
    @media (max-width: $LAPTOP) {
        height: 100px;
        padding: 0 30px;
    }
    @media (max-width: $LAPTOP) and (min-width: $TABLET) {
        padding: 0 laptop_to_tablet_fluid(30);
        height: laptop_to_tablet_fluid(100);
    }
    @media (max-width: $TABLET) {
        padding: 0 30px;
    }
    @media (max-width: $TABLET) and (min-width: $PHONE) {
        padding: 0 laptop_to_tablet_fluid(30);
        height: laptop_to_tablet_fluid(100);
    }
    @media (max-width: $PHONE) {
        padding: 0 10px;
        height: tablet_to_phone_fluid(100);
    }
}

.nav {
    height: 100%;
    width: 100%;
    display: flex;
    padding: 0 70px;
    align-items: center;
    @media (max-width: $DESKTOP) and (min-width: $LAPTOP) {
        padding: 0 desktop_to_laptop_fluid(70);
    }
    @media (max-width: $LAPTOP) and (min-width: $TABLET) {
        padding: 0 laptop_to_tablet_fluid(20);
    }
    @media (max-width: $TABLET) {
        padding: 0 tablet_to_phone_fluid(0);
    }
    .logo {
        width: 99px;
        margin-right: 50px;
        cursor: pointer;
        @media (max-width: $DESKTOP) and (min-width: $LAPTOP) {
            margin-right: desktop_to_laptop_fluid(50);
        }
        @media (max-width: $LAPTOP) and (min-width: $TABLET) {
            margin-right: laptop_to_tablet_fluid(50);
        }
    }
}

.links {
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
    margin-left: auto;
    align-items: center;
    column-gap: 41px;
    animation: appear 0.35s ease-in-out forwards;
    @media (max-width: $DESKTOP) and (min-width: $LAPTOP) {
        column-gap: desktop_to_laptop_fluid(41);
    }

    @media (max-width: 1230px) {
        column-gap: desktop_to_laptop_fluid(25);
    }

    li {
        font-weight: 400;
        font-size: 16.5246px;
        cursor: pointer;

        @media (max-width: $DESKTOP) and (min-width: $LAPTOP) {
            font-size: desktop_to_laptop_fluid(16.5);
        }
        @media (max-width: 1026px) {
            display: none;
        }

        @media (max-width: 1230px) {
            text-align: center;
            font-size: 12px;
        }
    }
}
@media (max-width: $TABLET) {
    .search_wrappper {
        display: none;
    }
}

.pixel_icon {
    border-radius: 100px;
    object-fit: fill;
    display: flex;
    height: 31px;
    width: 31px;
    padding: 2px;
    outline: 2px solid black;
    animation: appear 0.5s ease-in-out forwards;
}

.profileIcon {
    position: relative;

    &:hover {
        .profileDropDown {
            display: flex;
        }
    }

    .profileDropDown {
        //animation: openSideNav 0.35s ease-in-out forwards;
        position: absolute;
        top: 30px;
        right: 0px;
        display: flex;
        width: 157px;
        height: auto;
        display: none;
        .dd_menu {
            margin-top: 15px;
            display: flex;
            width: 100%;
            height: max-content;
            background: #ffffff;
            box-shadow: 0px 6px 7px -2px rgba(0, 0, 0, 0.08);
            border-radius: 4px;
            padding: 4px;
            flex-direction: column;
            .pixel_icon {
                height: 36px;
                width: 36px;
            }
            .addressBar {
                display: flex;
                height: fit-content;
                align-items: center;
                width: 100%;
                padding: 10px;
                border-bottom: 1.5px solid #f2f2f2;
                .address_chain {
                    margin-left: 6.3px;
                    h2 {
                        font-weight: 500;
                        font-size: 14px;
                        padding: 0;
                        margin: 0;
                    }
                    p {
                        margin: 0;
                        padding: 0;
                        margin-top: 4px;
                        font-weight: 500;
                        font-size: 14px;
                        color: #5e1ed1;
                    }
                }
            }
            .list {
                list-style: none;
                padding: 0;
                display: flex;
                flex-direction: column;
                row-gap: 4px;
                li {
                    padding: 4px;
                    display: flex;
                    height: 27px;
                    width: 100%;
                    align-items: center;
                    font-weight: 400;
                    font-size: 12px;
                    border-radius: 4px;
                    img {
                        height: 16px;
                        margin-right: 6.5px;
                        object-fit: contain;
                    }

                    &:hover {
                        transition: all 0.35s ease-in-out;
                        background: #f2f2f2;
                    }
                }
                .power_btn {
                    &:hover {
                        transition: all 0.35s ease-in-out;
                        background: rgba(255, 50, 54, 0.2);
                    }
                }
            }
        }
    }
}

.ham_burger_menu {
    cursor: pointer;
    img {
        width: 22px;
        height: 17px;
    }
    @media (min-width: 1028px) {
        display: none;
    }
}

.search_menu {
    @extend .ham_burger_menu;
    img {
        height: 22px;
        width: auto;
        margin-right: 20px;
    }
    @media (min-width: 770px) {
        display: none;
    }
}

.tablet_nav {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100vh;
    right: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.534);
    overflow: hidden;
}

.menu {
    display: flex;
    flex-direction: column;
    width: 409px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.842);
    margin-left: auto;
    padding: 35px 24px;
    transform: translateX(100%);

    animation: openSideNav 0.5s ease-in-out forwards;
    .tablet_nav {
        width: 83px;
        height: 33px;
    }

    .top_bar {
        display: flex;
        height: fit-content;
        width: 100%;
        justify-content: space-between;
        .close_icon {
            width: 18px;
            cursor: pointer;
        }
    }

    .list {
        display: flex;
        flex-direction: column;
        list-style: none;
        margin-left: auto;
        margin-top: 65px;
        li {
            border-right: 2px solid black;
            padding: 0px 20px;
            margin: 15px 0;
            font-weight: 600;
            color: #2c3857;
            font-size: 22.6667px;
            display: flex;
            justify-content: right;
            align-items: center;
            width: 180px;
            height: 72px;
            line-height: 160%;
            text-align: right;
            cursor: pointer;
            &:hover {
                transition: all 0.3s ease-in-out;
                color: #3065f3;
                border-right: 2px solid #3065f3;
            }
        }
    }

    @media (max-width: $PHONE) {
        width: 100%;
    }
}

.btn_wrapper {
    margin: auto auto 0 auto;
}

.tabletSearch {
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 100vh;
    width: 100%;
    margin-top: 11vw;
    background: #f7f7f7;
    align-items: center;
    padding: 10px 17px;

    .searchInput {
        background: #ffffff;
        border-radius: 16px;
        width: 100%;
        height: 52px;
        border: none;
        display: flex;
        align-items: center;
        padding: 0 16px;
        margin-bottom: 8px;
        img {
            height: 25px;
            width: 25px;
        }

        .close_icon {
            height: 10px;
            width: 10px;
            opacity: 0.7;
        }

        input {
            border: none;
            width: 100%;
            height: 100%;
            padding: 0 5px;
            font-size: 14px;
            &:focus {
                outline: none;
                border: none;
            }

            &::placeholder {
                font-size: 14px;
            }
        }
    }
}

.suggestionBox {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 70vh;
    background-color: white;
    border-radius: 16px;
    overflow: hidden;
    overflow-y: scroll;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.212);

    &::-webkit-scrollbar-track {
        // -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        background-color: #e2e2e2;
    }

    &::-webkit-scrollbar {
        width: 8px;
        background-color: #f5f5f5;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: rgb(168, 167, 167);
    }
}

.searchSuggestionEntry {
    display: flex;
    width: 100%;
    height: 100px;
    background-color: white;
    border-radius: 16px;
    padding: 16px;
    align-items: center;
    cursor: pointer;
    animation: appear 0.5s ease-in-out forwards;
    transition: all 0.25s ease-in-out;

    &:hover {
        background: #edf2ff;
    }
    .daoIcon {
        display: flex;
        width: 64px;
        height: 64px;
        border-radius: 100%;
        background-color: aquamarine;
        overflow: hidden;
        flex-grow: 0;
        flex-shrink: 0;
        img {
            object-fit: cover;
            width: 64px;
            height: 64px;
        }
    }

    .daoInfo {
        margin-left: 16px;
        display: flex;
        flex-direction: column;
        .daoName {
            font-weight: 500;
            font-size: 16px;
            margin: 0;
            margin-bottom: 8px;
        }
        .daoTags {
            font-weight: 400;
            font-size: 13px;
            margin: 0;
            margin-bottom: 8px;
        }
        .reviewCount {
            font-weight: 400;
            font-size: 13px;
            margin: 0;
        }
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes openSideNav {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
